In [66]:
import keras
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import sklearn
import pandas_profiling

import time
start_time = time.time()
mbo_data = pd.read_csv("Desktop/bio/MBO_DATA.csv", names = ["AUFNR", "TANK_NO", "SAMP_NM", "ACC_SUGAR", "AGE", "OD", "AN", "FEED_TOT", "MBO_VOL"])

In [67]:
media_data = pd.read_csv("Desktop/bio/MEDIA_DATA.csv", names = ["AUFNR", "DATE", "JAR_VOL", "EQUIP_CD", "TANK_NO", "Media_ID", "HSM", "CSL", "[(NH4)2SO4]", "KH2PO4", "[d-Biotin]", "[Thiamine-HCL]", "[Ca-Pantothenic]", "Niacinamide", "Defoamer", "BM", "CM", "Sucrose", "CuSO4", "FeSO4", "MgSO4", "MnSO4", "ZnSO4", "Betaine", "H3PO4", "SOD", "Glucose"], parse_dates=["DATE"])

In [68]:
result_data = pd.read_csv("Desktop/bio/RESULT_DATA.csv", names = ["AUFNR", "DATE", "JAR_VOL", "EQUIP_CD", "TANK_NO", "SAMP_NM", "AGE", "OD", "AN", "LYS", "AMS", "SUGAR_FEED", "MBO_VOL"], parse_dates=["DATE"])

### 각 열의 항목 의미  
#### MBO_DATA  

	AUFNR	varchar(12) - 공정 번호  
	TANK_NO	varchar(2) - 탱크 번호  
	SAMP_NM	varchar(10) - 샘플 번호  
	ACC_SUGAR	float - 누적 당 공급 양
	AGE	float - 배양 시간  
	OD	float - optical density (흡광도)  
	AN	float - ammonimum nitrogen (Kjeldahl method로 측정)
	FEED_TOT	float - 총 Feed 양
	MBO_VOL	float - 정제 이송량/ 유량계 값/ working vol
    
#### MEDIA_DATA		
	AUFNR	varchar(100) - 공정번호
	DATE	datetime - 날짜
	JAR_VOL	varchar(10) - JAR 용량
	EQUIP_CD	varchar(10) - equipment(장비)
	TANK_NO	varchar(50) - 탱크 번호
	Media_ID	varchar(10) - 배지
	HSM	float - 대두박 + 황산처리
	CSL	float - CSL 원부재료
	[(NH4)2SO4]	float - 황산 암모니움
	KH2PO4	float - 인산 칼륨
	[d-Biotin]	float - 바이오틴
	[Thiamine-HCL]	float - 티아민
	[Ca-Pantothenic ]	float - 판토텐산
	Niacinamide	float - 니아신아마이드
	Defoamer	float - 소포제
	BM	float - complex media중 하나
	CM	float - complex media중 하나
	Sucrose	float - sucrose (종모 원재료)  
	CuSO4	float - 황산 구리  
	FeSO4	float -  황산 철 
	MgSO4	float - 황산 마그네슘  
	MnSO4	float - 황상 망간  
	ZnSO4	float - 황산 아연  
	Betaine	float - 베타인
	H3PO4	float - 인산
	SOD	float - 초과산화물 불균등화효소
	Glucose	float - 글루코스 (포도당)
#### RESULT_DATA		 
	AUFNR	varchar(50) - 공정 번호
	DATE	datetime  - 날짜
	JAR_VOL	varchar(50) - JAR 용량
	EQUIP_CD	varchar(50) - equipment(장비)
	TANK_NO	varchar(50) - 탱크 번호
	SAMP_NM	varchar(50) - 샘플 번호
	Age	float - 배양 시간
	OD	float - optical density (흡광도)
	[AN (g kg)]	float - ammonimum nitrogen (Kjeldahl method로 측정)
	[LYS (g L)]	float - Lys 양
	[AMS(L)]	float - ammonium sulfate
	[Sugar feed vol (L)]	float - 당 공급 양
	[MBO vol (L)]	float - 정제 이송량/ 유량계 값/ working vol

데이터 상의 오류  
- MBO_DATA에서 ACC_SUGAR 항목은 RESULT_DATA에서 Sugar feed vol 항목을 누적해온 값을 저장하는 항목이지만 오류 발견  

    ex) ["AUFNR"] == "FLY5E1810003" & ["TANK_NO"] == 3 에서 MBO_DATA에서는 샘플 8M과 9M의 ACC_SUGAR 값 변화가 없지만 RESULT_DATA에서는 8M, 9M 모두 Sugar feed vol이 0.24임  
      
      
- MBO_DATA에서의 MBO VOL과 RESULT_DATA에서의 MBO VOL 불일치. 오직 FBO 샘플일 때만 일치

# MBO_DATA, MEDIA_DATA, RESULT DATA 통합하기  
  
  
예측 타겟: 1M까지의 AGE?? 혹은 FBO의 AGE

null 값이 많음  
mbo의 null 값은 result에서 가져오거나 알맞게 fill  
예측 모델에서 result의 variable은 쓰지 않으니 result의 null 값은 무시

LYS가 NaN인 경우: 1. SAMP_NM = START 2. SAMP_NM = 2F  
1일 경우 -> 0으로 fill  
2일 경우 ->

In [69]:
mbo_revised = pd.read_csv("Desktop/bio/MBO_DATA.csv", names = ["AUFNR", "TANK_NO", "SAMP_NM", "ACC_SUGAR", "AGE", "OD", "AN", "FEED_TOT", "MBO_VOL"])

In [70]:

mbo_revised = mbo_revised.sort_values(["AUFNR","TANK_NO","SAMP_NM"])
mbo_revised = mbo_revised[(mbo_revised["SAMP_NM"] == "START") | (mbo_revised["SAMP_NM"] =="1F") |(mbo_revised["SAMP_NM"] =="2F") | (mbo_revised["SAMP_NM"] =="1M")]

target 값이 1M까지임으로 1M이후 데이터 삭제

In [71]:
mbo_revised = mbo_revised[(mbo_revised["SAMP_NM"] == "START") | (mbo_revised["SAMP_NM"] =="1F") |(mbo_revised["SAMP_NM"] =="2F") | (mbo_revised["SAMP_NM"] =="1M")]

MBO 파일과 Result 파일을 AUFNR, TANK_NO, SAMP_NM 기준으로 통합

In [72]:
merged_data = pd.merge(mbo_revised, result_data, on = ['AUFNR', 'TANK_NO', 'SAMP_NM'], how = 'left')
merged_data.sort_values(["AUFNR","TANK_NO","SAMP_NM"])

,AUFNR,TANK_NO,SAMP_NM,ACC_SUGAR,AGE_x,OD_x,AN_x,FEED_TOT,MBO_VOL_x,DATE,JAR_VOL,EQUIP_CD,AGE_y,OD_y,AN_y,LYS,AMS,SUGAR_FEED,MBO_VOL_y
0,FFL3J1901004,1,1F,0.000,1.566667,24.580000,1.160,0.000,NaN,2019-01-23,3,J,1.57,24.58,1.160,21.929000,0.20,0.000,13.200
1,FFL3J1901004,1,1M,6.000,8.833333,57.939999,0.491,6.300,NaN,2019-01-23,3,J,8.83,57.94,0.491,94.100000,0.30,3.600,19.800
2,FFL3J1901004,1,2F,2.600,5.666667,49.099998,1.170,2.600,NaN,2019-01-23,3,J,5.67,49.10,1.170,62.686727,0.30,2.400,15.900
3,FFL3J1901004,1,START,0.000,0.000000,15.940000,1.720,0.000,NaN,2019-01-23,3,J,0.00,15.94,1.720,0.000000,0.00,0.000,13.000
4,FFL3J1901004,2,1F,0.000,1.566667,24.780001,1.130,0.000,NaN,2019-01-23,3,J,1.57,24.78,1.130,21.655000,0.00,0.000,13.000
5,FFL3J1901004,2,1M,6.000,8.650000,59.639999,0.647,6.200,2.60,2019-01-23,3,J,8.65,59.64,0.647,94.437000,0.30,3.600,19.300
6,FFL3J1901004,2,2F,2.400,5.633333,47.500000,0.433,2.600,NaN,2019-01-23,3,J,5.63,47.50,0.433,63.391571,0.20,2.400,15.600
7,FFL3J1901004,2,START,0.000,0.000000,16.110001,1.640,0.000,NaN,2019-01-23,3,J,0.00,16.11,1.640,0.000000,0.00,0.000,13.000
8,FFL3J1901004,3,1F,0.000,1.600000,24.410000,1.090,0.000,NaN,2019-01-23,3,J,1.60,24.41,1.090,22.211000,0.00,0.000,13.000
9,FFL3J1901004,3,1M,6.000,9.366667,59.599998,0.984,6.000,2.60,2019-01-23,3,J,9.37,59.60,0.984,97.251000,0.00,3.600,19.300
10,FFL3J1901004,3,2F,2.400,5.716667,47.299999,0.564,2.400,NaN,2019-01-23,3,J,5.72,47.30,0.564,62.000550,0.30,2.400,15.700
11,FFL3J1901004,3,START,0.000,0.000000,16.209999,1.680,0.000,NaN,2019-01-23,3,J,0.00,16.21,1.680,0.000000,0.00,0.000,13.000
12,FFL3J1901004,4,1F,0.000,1.700000,24.629999,1.100,0.000,NaN,2019-01-23,3,J,1.70,24.63,1.100,21.709000,0.00,0.000,13.000
13,FFL3J1901004,4,1M,6.000,9.266666,NaN,0.630,6.300,2.60,2019-01-23,3,J,9.27,62.60,0.630,96.503000,0.30,3.600,19.300
14,FFL3J1901004,4,2F,2.600,6.333333,46.099998,0.929,2.600,NaN,2019-01-23,3,J,6.33,46.10,0.929,67.454868,0.00,2.400,15.400
15,FFL3J1901004,4,START,0.000,0.000000,15.820000,1.620,0.000,NaN,2019-01-23,3,J,0.00,15.82,1.620,0.000000,0.00,0.000,13.000
16,FFL3J1901005,1,1F,0.000,1.333333,22.400000,1.290,0.000,NaN,2019-01-30,3,J,1.33,22.40,1.290,21.928000,0.00,0.000,13.000
17,FFL3J1901005,1,2F,2.400,5.166667,45.919998,0.895,2.400,NaN,2019-01-30,3,J,5.17,45.92,0.895,59.740000,0.30,2.400,15.700
18,FFL3J1901005,1,START,0.000,0.000000,16.299999,1.820,0.000,NaN,2019-01-30,3,J,0.00,16.30,1.820,0.000000,0.00,0.000,13.000
19,FFL3J1901005,2,1F,NaN,NaN,23.400000,1.260,NaN,NaN,2019-01-30,3,J,1.38,23.40,1.260,22.685000,0.00,0.000,13.000
20,FFL3J1901005,2,1M,6.000,8.716666,58.900002,NaN,6.000,2.60,2019-01-30,3,J,8.72,58.90,0.602,99.123000,0.30,3.600,19.300
21,FFL3J1901005,2,2F,2.400,5.300000,46.529999,0.784,2.400,NaN,2019-01-30,3,J,5.30,46.53,0.784,57.914000,0.00,2.400,15.400
22,FFL3J1901005,2,START,0.000,0.000000,15.900000,1.770,0.000,NaN,2019-01-30,3,J,0.00,15.90,1.770,0.000000,0.00,0.000,13.000
23,FFL3J1901005,3,1F,0.000,1.433333,22.900000,1.200,0.000,NaN,2019-01-30,3,J,1.43,22.90,1.200,22.643000,0.00,0.000,13.000
24,FFL3J1901005,3,1M,6.000,8.700000,58.200001,NaN,6.300,2.60,2019-01-30,3,J,8.70,58.20,1.050,95.655000,0.30,3.600,19.600
25,FFL3J1901005,3,2F,2.400,5.300000,45.849998,0.864,2.400,NaN,2019-01-30,3,J,5.30,45.85,0.864,58.000000,0.30,2.400,15.700
26,FFL3J1901005,3,START,0.000,0.000000,16.299999,1.840,0.000,NaN,2019-01-30,3,J,0.00,16.30,1.840,0.000000,0.00,0.000,13.000
27,FFL3J1901005,4,1F,0.000,1.516667,22.200001,1.100,0.000,NaN,2019-01-30,3,J,1.52,22.20,1.100,23.094000,0.00,0.000,13.000
28,FFL3J1901005,4,2F,2.400,5.300000,44.480000,0.908,2.400,NaN,2019-01-30,3,J,5.30,44.48,0.908,59.017000,0.30,2.400,15.700
29,FFL3J1901005,4,START,0.000,0.000000,15.600000,2.020,0.000,NaN,2019-01-30,3,J,0.00,15.60,2.020,0.000000,0.00,0.000,13.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556,FLY5E1811002,3,2F,0.376,11.083333,57.900002,1.250,0.376,NaN,2018-11-14,5,E,11.08,57.90,1.250,87.952154,0.04,0.375,2.215
557,FLY5E1811002,3,START,NaN,NaN,11.330000,3.970,NaN,NaN,2018-11-14,5,E,0.00,11.33,3.970,0.000000,0.00,0.000,1.800
558,FLY5E1811002,4,1F,NaN,NaN,42.480000,1.520,NaN,0.00,2018-11-14,5,E,7.08,42.48,1.520,47.555000,0.04,0.000,1.840
559,FLY5E1811002,4,1M,0.800,14.450000,74.900002,5.010,0.800,0.24,2018-11-14,5,E,14.45,74.90,5.010,131.273000,0.00,0.425,2.640
560,FLY5E1811002,4,2F,0.376,NaN,65.900002,1.400,0.376,NaN,2018-11-14,5,E,11.05,65.90,1.400,92.651399,0.00,0.375,2.215
561,FLY5E1811002,4,START,NaN,NaN,11.160000,3.800,NaN,NaN,2018-11-14,5,E,0.00,11.16,3.800,0.000000,0.00,0.000,1.800
562,FLY5E1811002,5,1F,NaN,7.083333,41.599998,1.310,0.040,NaN,2018-11-14,5,E,7.08,41.60,1.310,47.146000,0.04,0.000,1.840
563,FLY5E1811002,5,1M,0.800,14.450000,73.400002,4.990,0.800,0.24,2018-11-14,5,E,14.45,73.40,4.990,128.827000,0.00,0.425,2.640
564,FLY5E1811002,5,2F,0.376,NaN,59.099998,1.390,0.376,NaN,2018-11-14,5,E,11.08,59.10,1.390,91.477615,0.00,0.375,2.215
565,FLY5E1811002,5,START,NaN,NaN,11.280000,3.990,NaN,NaN,2018-11-14,5,E,0.00,11.28,3.990,0.000000,0.00,0.000,1.800
566,FLY5E1811003,1,1F,0.000,5.250000,42.599998,1.420,0.000,NaN,2018-11-21,5,E,5.25,42.60,0.000,46.679000,0.04,0.000,1.840
567,FLY5E1811003,1,1M,0.000,14.333333,68.650002,1.620,0.000,NaN,2018-11-21,5,E,14.33,68.65,0.000,128.788000,0.00,0.425,2.680
568,FLY5E1811003,1,2F,0.000,9.333333,67.209999,0.729,0.000,NaN,2018-11-21,5,E,9.33,67.21,0.000,83.573793,0.04,0.375,2.255
569,FLY5E1811003,1,START,0.000,0.000000,9.100000,4.000,0.000,NaN,2018-11-21,5,E,0.00,9.10,0.000,0.000000,0.00,0.000,1.800
570,FLY5E1811003,2,1F,NaN,5.283333,47.360001,0.602,NaN,NaN,2018-11-21,5,E,5.28,47.36,0.000,51.672000,0.04,0.000,1.800
571,FLY5E1811003,2,1M,NaN,NaN,79.809998,1.580,NaN,NaN,2018-11-21,5,E,12.67,79.81,0.000,152.984000,0.00,0.425,2.600
572,FLY5E1811003,2,2F,NaN,9.333333,71.699997,1.690,NaN,NaN,2018-11-21,5,E,9.33,71.70,0.000,107.194815,0.00,0.375,2.175
573,FLY5E1811003,2,START,NaN,NaN,11.500000,3.900,NaN,NaN,2018-11-21,5,E,0.00,11.50,0.000,0.000000,0.00,0.000,1.800
574,FLY5E1811003,3,1F,0.000,5.433333,51.669998,0.200,0.040,0.00,2018-11-21,5,E,5.43,51.67,0.000,57.510000,0.00,0.000,1.800
575,FLY5E1811003,3,1M,0.000,15.883333,67.610001,4.520,0.040,NaN,2018-11-21,5,E,15.88,67.61,0.000,142.456000,0.00,0.425,2.640
576,FLY5E1811003,3,2F,0.000,9.433333,58.080002,1.340,0.040,NaN,2018-11-21,5,E,9.43,58.08,0.000,90.025215,0.04,0.375,2.215
577,FLY5E1811003,3,START,NaN,NaN,11.500000,3.600,NaN,NaN,2018-11-21,5,E,0.00,11.50,0.000,0.000000,0.00,0.000,1.800
578,FLY5E1811003,4,1F,NaN,5.283333,43.900002,1.250,0.000,NaN,2018-11-21,5,E,5.28,43.90,0.000,49.703000,0.04,0.000,1.840
579,FLY5E1811003,4,1M,0.800,12.750000,74.650002,2.120,0.840,0.24,2018-11-21,5,E,12.75,74.65,0.000,140.181000,0.00,0.425,2.640
580,FLY5E1811003,4,2F,0.375,9.333333,72.800003,2.310,0.415,0.24,2018-11-21,5,E,9.33,72.80,0.000,98.757337,0.00,0.375,2.215
581,FLY5E1811003,4,START,NaN,NaN,10.400000,4.300,NaN,NaN,2018-11-21,5,E,0.00,10.40,0.000,0.000000,0.00,0.000,1.800
582,FLY5E1811003,5,1F,NaN,5.333333,40.380001,1.120,0.040,NaN,2018-11-21,5,E,5.33,40.38,0.000,46.754000,0.08,0.000,1.880
583,FLY5E1811003,5,1M,0.800,12.666667,71.190002,2.060,0.880,0.24,2018-11-21,5,E,12.67,71.19,0.000,134.901000,0.00,0.425,2.680
584,FLY5E1811003,5,2F,0.375,9.333333,66.279999,1.720,0.455,NaN,2018-11-21,5,E,9.33,66.28,0.000,94.790512,0.00,0.375,2.255
585,FLY5E1811003,5,START,NaN,NaN,9.200000,6.500,NaN,NaN,2018-11-21,5,E,0.00,9.20,0.000,0.000000,0.00,0.000,1.800

Age 값의 NaN 값 처리

In [73]:
merged_data[(merged_data.isnull()['AGE_x'])]

,AUFNR,TANK_NO,SAMP_NM,ACC_SUGAR,AGE_x,OD_x,AN_x,FEED_TOT,MBO_VOL_x,DATE,JAR_VOL,EQUIP_CD,AGE_y,OD_y,AN_y,LYS,AMS,SUGAR_FEED,MBO_VOL_y
19,FFL3J1901005,2,1F,NaN,NaN,23.400000,1.260,NaN,NaN,2019-01-30,3,J,1.38,23.40,1.260,22.685000,0.00,0.000,13.000
40,FFL3J1902001,3,START,NaN,NaN,21.230000,1.870,NaN,NaN,2019-02-14,3,J,0.00,21.23,1.870,0.000000,0.00,0.000,12.000
68,FFL3J1902003,4,START,NaN,NaN,17.110001,2.020,NaN,NaN,2019-02-27,3,J,0.00,17.11,2.020,0.000000,0.00,0.000,12.000
69,FFL3J1903001,1,1F,NaN,NaN,21.700001,1.270,NaN,NaN,2019-03-06,3,J,1.28,21.70,1.270,19.387000,0.00,0.000,13.000
72,FFL3J1903001,1,START,NaN,NaN,15.910000,1.790,NaN,NaN,2019-03-06,3,J,0.00,15.91,1.790,0.000000,0.00,0.000,13.000
76,FFL3J1903001,2,START,NaN,NaN,15.780000,1.790,NaN,NaN,2019-03-06,3,J,0.00,15.78,1.790,0.000000,0.00,0.000,13.000
78,FFL3J1903001,3,1M,6.000,NaN,51.400002,3.290,6.000,3.000,2019-03-06,3,J,8.65,51.40,3.290,90.389000,0.00,3.600,19.300
84,FFL3J1903001,4,START,NaN,NaN,15.870000,1.790,NaN,NaN,2019-03-06,3,J,0.00,15.87,1.790,0.000000,0.00,0.000,13.000
86,FFL3J1903002,1,1M,NaN,NaN,62.700001,2.120,NaN,2.300,2019-03-13,3,J,7.42,57.80,0.000,103.000000,0.00,3.850,18.000
88,FFL3J1903002,1,START,NaN,NaN,NaN,1.780,NaN,NaN,2019-03-13,3,J,0.00,15.91,0.000,0.000000,0.00,0.000,12.000
96,FFL3J1903002,3,START,NaN,NaN,17.100000,1.730,NaN,NaN,2019-03-13,3,J,0.00,16.58,1.790,0.000000,0.00,0.000,12.000
100,FFL3J1903002,4,START,NaN,NaN,15.400000,1.730,NaN,NaN,2019-03-13,3,J,0.00,15.87,1.790,0.000000,0.00,0.000,12.000
104,FFL3J1903003,1,START,NaN,NaN,16.299999,2.450,NaN,NaN,2019-03-20,3,J,0.00,16.30,0.000,0.000000,0.00,0.000,12.500
108,FFL3J1903003,2,START,NaN,NaN,16.600000,2.540,NaN,NaN,2019-03-20,3,J,0.00,16.60,0.000,0.000000,0.00,0.000,12.500
132,FFL3J1903004,4,START,NaN,NaN,13.500000,2.920,NaN,NaN,2019-03-27,3,J,0.00,13.50,0.000,0.000000,0.00,0.000,12.500
136,FFL3J1903004,5,START,NaN,NaN,13.800000,2.710,NaN,NaN,2019-03-27,3,J,0.00,13.80,0.000,0.000000,0.00,0.000,12.500
160,FFL3J1904002,1,START,NaN,NaN,14.300000,2.840,NaN,NaN,2019-04-10,3,J,0.00,14.30,2.840,NaN,NaN,NaN,NaN
164,FFL3J1904002,2,START,NaN,NaN,14.100000,3.040,NaN,NaN,2019-04-10,3,J,0.00,14.10,3.040,NaN,NaN,NaN,NaN
168,FFL3J1904002,3,START,NaN,NaN,13.900000,3.030,NaN,NaN,2019-04-10,3,J,0.00,13.90,3.030,NaN,NaN,NaN,NaN
172,FFL3J1904002,4,START,NaN,NaN,14.000000,3.040,NaN,NaN,2019-04-10,3,J,0.00,14.00,3.040,NaN,NaN,NaN,NaN
176,FFL3J1904002,5,START,NaN,NaN,14.000000,3.090,NaN,NaN,2019-04-10,3,J,0.00,14.00,3.090,NaN,NaN,NaN,NaN
180,FFL3J1904003,1,START,NaN,NaN,14.000000,2.830,NaN,NaN,2019-04-17,3,J,0.00,14.00,2.830,NaN,NaN,NaN,NaN
188,FFL3J1904003,3,START,NaN,NaN,14.400000,3.300,NaN,NaN,2019-04-17,3,J,0.00,14.40,3.300,NaN,NaN,NaN,NaN
192,FFL3J1904003,4,START,NaN,NaN,14.700000,3.210,NaN,NaN,2019-04-17,3,J,0.00,14.70,3.210,NaN,NaN,NaN,NaN
193,FFL3J1904004,1,1F,NaN,NaN,23.129999,2.010,NaN,NaN,2019-04-24,3,J,1.30,23.13,2.010,18.800000,0.30,NaN,NaN
195,FFL3J1904004,1,2F,2.260,NaN,45.840000,0.000,2.260,NaN,2019-04-24,3,J,5.20,45.84,NaN,NaN,0.70,2.260,NaN
198,FFL3J1904004,2,1M,NaN,NaN,57.799999,1.300,NaN,3.000,2019-04-24,3,J,9.40,57.80,1.300,100.200000,0.20,5.040,3.000
216,FFL3J1904005,1,START,NaN,NaN,0.000000,0.000,NaN,NaN,2019-05-01,3,J,0.00,14.40,NaN,NaN,NaN,NaN,NaN
220,FFL3J1904005,2,START,NaN,NaN,0.000000,0.000,NaN,NaN,2019-05-01,3,J,0.00,14.36,NaN,NaN,NaN,NaN,NaN
224,FFL3J1904005,3,START,NaN,NaN,0.000000,0.000,NaN,NaN,2019-05-01,3,J,0.00,14.56,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,FLY5D1901002,5,1M,NaN,NaN,54.799999,2.740,NaN,0.384,2019-01-09,5,D,10.08,54.80,2.740,94.104000,0.00,0.425,2.600
469,FLY5D1901002,5,2F,0.376,NaN,41.480000,2.920,0.376,NaN,2019-01-09,5,D,6.47,41.48,2.920,60.822159,0.00,0.375,2.175
470,FLY5D1901002,5,START,NaN,NaN,12.450000,4.130,NaN,NaN,2019-01-09,5,D,0.00,12.45,4.130,0.000000,0.00,0.000,1.800
486,FLY5E1810003,1,1F,NaN,NaN,44.500000,1.250,NaN,NaN,2018-10-17,5,E,4.83,44.50,1.250,46.321000,0.00,0.000,1.800
487,FLY5E1810003,1,1M,0.425,NaN,65.730003,1.370,0.425,0.240,2018-10-17,5,E,12.27,65.73,1.370,146.052000,0.00,0.425,2.600
488,FLY5E1810003,1,2F,NaN,NaN,66.400002,NaN,NaN,NaN,2018-10-17,5,E,8.90,66.40,0.000,100.878146,0.00,0.375,2.175
489,FLY5E1810003,1,START,NaN,NaN,11.260000,4.050,NaN,NaN,2018-10-17,5,E,0.00,11.26,4.050,0.000000,0.00,0.000,1.800
526,FLY5E1810005,1,1F,NaN,NaN,46.340000,1.680,NaN,NaN,2018-10-31,5,E,4.82,46.34,1.680,45.621000,0.04,0.000,1.840
528,FLY5E1810005,1,2F,NaN,NaN,59.419998,0.710,NaN,NaN,2018-10-31,5,E,7.80,59.42,0.710,68.929815,0.00,0.375,2.215
530,FLY5E1810005,2,1F,NaN,NaN,44.009998,1.180,NaN,NaN,2018-10-31,5,E,4.92,44.01,1.180,45.963000,0.00,0.000,1.800
534,FLY5E1810005,3,1F,NaN,NaN,42.700001,1.590,NaN,NaN,2018-10-31,5,E,4.68,42.70,1.590,45.494000,0.00,0.000,1.800
537,FLY5E1810005,3,START,NaN,NaN,12.100000,3.430,NaN,NaN,2018-10-31,5,E,0.00,12.10,3.430,0.000000,0.00,0.000,1.800
542,FLY5E1810005,5,1F,NaN,NaN,42.770000,1.140,NaN,NaN,2018-10-31,5,E,4.68,42.77,1.140,46.725000,0.04,0.000,1.840
544,FLY5E1810005,5,2F,NaN,NaN,60.200001,0.915,NaN,NaN,2018-10-31,5,E,7.65,60.20,0.915,83.567607,0.00,0.375,2.215
545,FLY5E1810005,5,START,NaN,NaN,12.180000,4.070,NaN,NaN,2018-10-31,5,E,0.00,12.18,4.070,0.000000,0.00,0.000,1.800
551,FLY5E1811002,2,1M,0.800,NaN,74.500000,1.750,0.800,0.240,2018-11-14,5,E,14.45,74.50,1.750,144.653000,0.00,0.425,2.600
552,FLY5E1811002,2,2F,0.376,NaN,63.700001,1.480,0.376,NaN,2018-11-14,5,E,11.08,63.70,1.480,100.714053,0.00,0.375,2.175
553,FLY5E1811002,2,START,NaN,NaN,11.550000,3.620,NaN,NaN,2018-11-14,5,E,0.00,11.55,3.620,0.000000,0.00,0.000,1.800
554,FLY5E1811002,3,1F,NaN,NaN,0.000000,0.000,NaN,NaN,2018-11-14,5,E,7.08,42.14,1.310,46.926000,0.00,0.000,1.800
557,FLY5E1811002,3,START,NaN,NaN,11.330000,3.970,NaN,NaN,2018-11-14,5,E,0.00,11.33,3.970,0.000000,0.00,0.000,1.800
558,FLY5E1811002,4,1F,NaN,NaN,42.480000,1.520,NaN,0.000,2018-11-14,5,E,7.08,42.48,1.520,47.555000,0.04,0.000,1.840
560,FLY5E1811002,4,2F,0.376,NaN,65.900002,1.400,0.376,NaN,2018-11-14,5,E,11.05,65.90,1.400,92.651399,0.00,0.375,2.215
561,FLY5E1811002,4,START,NaN,NaN,11.160000,3.800,NaN,NaN,2018-11-14,5,E,0.00,11.16,3.800,0.000000,0.00,0.000,1.800
564,FLY5E1811002,5,2F,0.376,NaN,59.099998,1.390,0.376,NaN,2018-11-14,5,E,11.08,59.10,1.390,91.477615,0.00,0.375,2.215
565,FLY5E1811002,5,START,NaN,NaN,11.280000,3.990,NaN,NaN,2018-11-14,5,E,0.00,11.28,3.990,0.000000,0.00,0.000,1.800
571,FLY5E1811003,2,1M,NaN,NaN,79.809998,1.580,NaN,NaN,2018-11-21,5,E,12.67,79.81,0.000,152.984000,0.00,0.425,2.600
573,FLY5E1811003,2,START,NaN,NaN,11.500000,3.900,NaN,NaN,2018-11-21,5,E,0.00,11.50,0.000,0.000000,0.00,0.000,1.800
577,FLY5E1811003,3,START,NaN,NaN,11.500000,3.600,NaN,NaN,2018-11-21,5,E,0.00,11.50,0.000,0.000000,0.00,0.000,1.800
581,FLY5E1811003,4,START,NaN,NaN,10.400000,4.300,NaN,NaN,2018-11-21,5,E,0.00,10.40,0.000,0.000000,0.00,0.000,1.800
585,FLY5E1811003,5,START,NaN,NaN,9.200000,6.500,NaN,NaN,2018-11-21,5,E,0.00,9.20,0.000,0.000000,0.00,0.000,1.800

In [74]:
merged_data['AGE_x'].fillna(merged_data['AGE_y'], inplace= True)
merged_data[(merged_data.isnull()['AGE_x'])]

Empty DataFrame
Columns: [AUFNR, TANK_NO, SAMP_NM, ACC_SUGAR, AGE_x, OD_x, AN_x, FEED_TOT, MBO_VOL_x, DATE, JAR_VOL, EQUIP_CD, AGE_y, OD_y, AN_y, LYS, AMS, SUGAR_FEED, MBO_VOL_y]
Index: []

OD의 Null 값 채우기

In [75]:
temp = merged_data[(merged_data.isnull()['OD_x'])]

In [76]:
merged_data['OD_x'].fillna(merged_data['OD_y'], inplace= True)
merged_data[temp.columns]

,AUFNR,TANK_NO,SAMP_NM,ACC_SUGAR,AGE_x,OD_x,AN_x,FEED_TOT,MBO_VOL_x,DATE,JAR_VOL,EQUIP_CD,AGE_y,OD_y,AN_y,LYS,AMS,SUGAR_FEED,MBO_VOL_y
0,FFL3J1901004,1,1F,0.000,1.566667,24.580000,1.160,0.000,NaN,2019-01-23,3,J,1.57,24.58,1.160,21.929000,0.20,0.000,13.200
1,FFL3J1901004,1,1M,6.000,8.833333,57.939999,0.491,6.300,NaN,2019-01-23,3,J,8.83,57.94,0.491,94.100000,0.30,3.600,19.800
2,FFL3J1901004,1,2F,2.600,5.666667,49.099998,1.170,2.600,NaN,2019-01-23,3,J,5.67,49.10,1.170,62.686727,0.30,2.400,15.900
3,FFL3J1901004,1,START,0.000,0.000000,15.940000,1.720,0.000,NaN,2019-01-23,3,J,0.00,15.94,1.720,0.000000,0.00,0.000,13.000
4,FFL3J1901004,2,1F,0.000,1.566667,24.780001,1.130,0.000,NaN,2019-01-23,3,J,1.57,24.78,1.130,21.655000,0.00,0.000,13.000
5,FFL3J1901004,2,1M,6.000,8.650000,59.639999,0.647,6.200,2.60,2019-01-23,3,J,8.65,59.64,0.647,94.437000,0.30,3.600,19.300
6,FFL3J1901004,2,2F,2.400,5.633333,47.500000,0.433,2.600,NaN,2019-01-23,3,J,5.63,47.50,0.433,63.391571,0.20,2.400,15.600
7,FFL3J1901004,2,START,0.000,0.000000,16.110001,1.640,0.000,NaN,2019-01-23,3,J,0.00,16.11,1.640,0.000000,0.00,0.000,13.000
8,FFL3J1901004,3,1F,0.000,1.600000,24.410000,1.090,0.000,NaN,2019-01-23,3,J,1.60,24.41,1.090,22.211000,0.00,0.000,13.000
9,FFL3J1901004,3,1M,6.000,9.366667,59.599998,0.984,6.000,2.60,2019-01-23,3,J,9.37,59.60,0.984,97.251000,0.00,3.600,19.300
10,FFL3J1901004,3,2F,2.400,5.716667,47.299999,0.564,2.400,NaN,2019-01-23,3,J,5.72,47.30,0.564,62.000550,0.30,2.400,15.700
11,FFL3J1901004,3,START,0.000,0.000000,16.209999,1.680,0.000,NaN,2019-01-23,3,J,0.00,16.21,1.680,0.000000,0.00,0.000,13.000
12,FFL3J1901004,4,1F,0.000,1.700000,24.629999,1.100,0.000,NaN,2019-01-23,3,J,1.70,24.63,1.100,21.709000,0.00,0.000,13.000
13,FFL3J1901004,4,1M,6.000,9.266666,62.600000,0.630,6.300,2.60,2019-01-23,3,J,9.27,62.60,0.630,96.503000,0.30,3.600,19.300
14,FFL3J1901004,4,2F,2.600,6.333333,46.099998,0.929,2.600,NaN,2019-01-23,3,J,6.33,46.10,0.929,67.454868,0.00,2.400,15.400
15,FFL3J1901004,4,START,0.000,0.000000,15.820000,1.620,0.000,NaN,2019-01-23,3,J,0.00,15.82,1.620,0.000000,0.00,0.000,13.000
16,FFL3J1901005,1,1F,0.000,1.333333,22.400000,1.290,0.000,NaN,2019-01-30,3,J,1.33,22.40,1.290,21.928000,0.00,0.000,13.000
17,FFL3J1901005,1,2F,2.400,5.166667,45.919998,0.895,2.400,NaN,2019-01-30,3,J,5.17,45.92,0.895,59.740000,0.30,2.400,15.700
18,FFL3J1901005,1,START,0.000,0.000000,16.299999,1.820,0.000,NaN,2019-01-30,3,J,0.00,16.30,1.820,0.000000,0.00,0.000,13.000
19,FFL3J1901005,2,1F,NaN,1.380000,23.400000,1.260,NaN,NaN,2019-01-30,3,J,1.38,23.40,1.260,22.685000,0.00,0.000,13.000
20,FFL3J1901005,2,1M,6.000,8.716666,58.900002,NaN,6.000,2.60,2019-01-30,3,J,8.72,58.90,0.602,99.123000,0.30,3.600,19.300
21,FFL3J1901005,2,2F,2.400,5.300000,46.529999,0.784,2.400,NaN,2019-01-30,3,J,5.30,46.53,0.784,57.914000,0.00,2.400,15.400
22,FFL3J1901005,2,START,0.000,0.000000,15.900000,1.770,0.000,NaN,2019-01-30,3,J,0.00,15.90,1.770,0.000000,0.00,0.000,13.000
23,FFL3J1901005,3,1F,0.000,1.433333,22.900000,1.200,0.000,NaN,2019-01-30,3,J,1.43,22.90,1.200,22.643000,0.00,0.000,13.000
24,FFL3J1901005,3,1M,6.000,8.700000,58.200001,NaN,6.300,2.60,2019-01-30,3,J,8.70,58.20,1.050,95.655000,0.30,3.600,19.600
25,FFL3J1901005,3,2F,2.400,5.300000,45.849998,0.864,2.400,NaN,2019-01-30,3,J,5.30,45.85,0.864,58.000000,0.30,2.400,15.700
26,FFL3J1901005,3,START,0.000,0.000000,16.299999,1.840,0.000,NaN,2019-01-30,3,J,0.00,16.30,1.840,0.000000,0.00,0.000,13.000
27,FFL3J1901005,4,1F,0.000,1.516667,22.200001,1.100,0.000,NaN,2019-01-30,3,J,1.52,22.20,1.100,23.094000,0.00,0.000,13.000
28,FFL3J1901005,4,2F,2.400,5.300000,44.480000,0.908,2.400,NaN,2019-01-30,3,J,5.30,44.48,0.908,59.017000,0.30,2.400,15.700
29,FFL3J1901005,4,START,0.000,0.000000,15.600000,2.020,0.000,NaN,2019-01-30,3,J,0.00,15.60,2.020,0.000000,0.00,0.000,13.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556,FLY5E1811002,3,2F,0.376,11.083333,57.900002,1.250,0.376,NaN,2018-11-14,5,E,11.08,57.90,1.250,87.952154,0.04,0.375,2.215
557,FLY5E1811002,3,START,NaN,0.000000,11.330000,3.970,NaN,NaN,2018-11-14,5,E,0.00,11.33,3.970,0.000000,0.00,0.000,1.800
558,FLY5E1811002,4,1F,NaN,7.080000,42.480000,1.520,NaN,0.00,2018-11-14,5,E,7.08,42.48,1.520,47.555000,0.04,0.000,1.840
559,FLY5E1811002,4,1M,0.800,14.450000,74.900002,5.010,0.800,0.24,2018-11-14,5,E,14.45,74.90,5.010,131.273000,0.00,0.425,2.640
560,FLY5E1811002,4,2F,0.376,11.050000,65.900002,1.400,0.376,NaN,2018-11-14,5,E,11.05,65.90,1.400,92.651399,0.00,0.375,2.215
561,FLY5E1811002,4,START,NaN,0.000000,11.160000,3.800,NaN,NaN,2018-11-14,5,E,0.00,11.16,3.800,0.000000,0.00,0.000,1.800
562,FLY5E1811002,5,1F,NaN,7.083333,41.599998,1.310,0.040,NaN,2018-11-14,5,E,7.08,41.60,1.310,47.146000,0.04,0.000,1.840
563,FLY5E1811002,5,1M,0.800,14.450000,73.400002,4.990,0.800,0.24,2018-11-14,5,E,14.45,73.40,4.990,128.827000,0.00,0.425,2.640
564,FLY5E1811002,5,2F,0.376,11.080000,59.099998,1.390,0.376,NaN,2018-11-14,5,E,11.08,59.10,1.390,91.477615,0.00,0.375,2.215
565,FLY5E1811002,5,START,NaN,0.000000,11.280000,3.990,NaN,NaN,2018-11-14,5,E,0.00,11.28,3.990,0.000000,0.00,0.000,1.800
566,FLY5E1811003,1,1F,0.000,5.250000,42.599998,1.420,0.000,NaN,2018-11-21,5,E,5.25,42.60,0.000,46.679000,0.04,0.000,1.840
567,FLY5E1811003,1,1M,0.000,14.333333,68.650002,1.620,0.000,NaN,2018-11-21,5,E,14.33,68.65,0.000,128.788000,0.00,0.425,2.680
568,FLY5E1811003,1,2F,0.000,9.333333,67.209999,0.729,0.000,NaN,2018-11-21,5,E,9.33,67.21,0.000,83.573793,0.04,0.375,2.255
569,FLY5E1811003,1,START,0.000,0.000000,9.100000,4.000,0.000,NaN,2018-11-21,5,E,0.00,9.10,0.000,0.000000,0.00,0.000,1.800
570,FLY5E1811003,2,1F,NaN,5.283333,47.360001,0.602,NaN,NaN,2018-11-21,5,E,5.28,47.36,0.000,51.672000,0.04,0.000,1.800
571,FLY5E1811003,2,1M,NaN,12.670000,79.809998,1.580,NaN,NaN,2018-11-21,5,E,12.67,79.81,0.000,152.984000,0.00,0.425,2.600
572,FLY5E1811003,2,2F,NaN,9.333333,71.699997,1.690,NaN,NaN,2018-11-21,5,E,9.33,71.70,0.000,107.194815,0.00,0.375,2.175
573,FLY5E1811003,2,START,NaN,0.000000,11.500000,3.900,NaN,NaN,2018-11-21,5,E,0.00,11.50,0.000,0.000000,0.00,0.000,1.800
574,FLY5E1811003,3,1F,0.000,5.433333,51.669998,0.200,0.040,0.00,2018-11-21,5,E,5.43,51.67,0.000,57.510000,0.00,0.000,1.800
575,FLY5E1811003,3,1M,0.000,15.883333,67.610001,4.520,0.040,NaN,2018-11-21,5,E,15.88,67.61,0.000,142.456000,0.00,0.425,2.640
576,FLY5E1811003,3,2F,0.000,9.433333,58.080002,1.340,0.040,NaN,2018-11-21,5,E,9.43,58.08,0.000,90.025215,0.04,0.375,2.215
577,FLY5E1811003,3,START,NaN,0.000000,11.500000,3.600,NaN,NaN,2018-11-21,5,E,0.00,11.50,0.000,0.000000,0.00,0.000,1.800
578,FLY5E1811003,4,1F,NaN,5.283333,43.900002,1.250,0.000,NaN,2018-11-21,5,E,5.28,43.90,0.000,49.703000,0.04,0.000,1.840
579,FLY5E1811003,4,1M,0.800,12.750000,74.650002,2.120,0.840,0.24,2018-11-21,5,E,12.75,74.65,0.000,140.181000,0.00,0.425,2.640
580,FLY5E1811003,4,2F,0.375,9.333333,72.800003,2.310,0.415,0.24,2018-11-21,5,E,9.33,72.80,0.000,98.757337,0.00,0.375,2.215
581,FLY5E1811003,4,START,NaN,0.000000,10.400000,4.300,NaN,NaN,2018-11-21,5,E,0.00,10.40,0.000,0.000000,0.00,0.000,1.800
582,FLY5E1811003,5,1F,NaN,5.333333,40.380001,1.120,0.040,NaN,2018-11-21,5,E,5.33,40.38,0.000,46.754000,0.08,0.000,1.880
583,FLY5E1811003,5,1M,0.800,12.666667,71.190002,2.060,0.880,0.24,2018-11-21,5,E,12.67,71.19,0.000,134.901000,0.00,0.425,2.680
584,FLY5E1811003,5,2F,0.375,9.333333,66.279999,1.720,0.455,NaN,2018-11-21,5,E,9.33,66.28,0.000,94.790512,0.00,0.375,2.255
585,FLY5E1811003,5,START,NaN,0.000000,9.200000,6.500,NaN,NaN,2018-11-21,5,E,0.00,9.20,0.000,0.000000,0.00,0.000,1.800

ACC_SUGAR 값 채우기

In [77]:
merged_data[(merged_data.isnull()['ACC_SUGAR'])]

,AUFNR,TANK_NO,SAMP_NM,ACC_SUGAR,AGE_x,OD_x,AN_x,FEED_TOT,MBO_VOL_x,DATE,JAR_VOL,EQUIP_CD,AGE_y,OD_y,AN_y,LYS,AMS,SUGAR_FEED,MBO_VOL_y
19,FFL3J1901005,2,1F,NaN,1.380000,23.400000,1.260,NaN,NaN,2019-01-30,3,J,1.38,23.40,1.260,22.685000,0.00,0.000,13.000
40,FFL3J1902001,3,START,NaN,0.000000,21.230000,1.870,NaN,NaN,2019-02-14,3,J,0.00,21.23,1.870,0.000000,0.00,0.000,12.000
45,FFL3J1902002,1,1F,NaN,1.000000,23.200001,NaN,NaN,NaN,2019-02-20,3,J,1.00,23.20,0.000,20.477000,0.00,0.000,12.000
48,FFL3J1902002,1,START,NaN,0.000000,17.100000,NaN,NaN,NaN,2019-02-20,3,J,0.00,17.10,0.000,0.000000,0.00,0.000,12.000
49,FFL3J1902002,2,1F,NaN,1.000000,22.299999,NaN,NaN,NaN,2019-02-20,3,J,1.00,22.30,0.000,20.221000,0.00,0.000,12.000
52,FFL3J1902002,2,START,NaN,0.000000,17.600000,NaN,NaN,NaN,2019-02-20,3,J,0.00,17.60,0.000,0.000000,0.00,0.000,12.000
65,FFL3J1902003,4,1F,NaN,1.066667,23.400000,1.490,NaN,NaN,2019-02-27,3,J,1.07,23.40,1.490,21.747000,0.00,0.000,12.000
68,FFL3J1902003,4,START,NaN,0.000000,17.110001,2.020,NaN,NaN,2019-02-27,3,J,0.00,17.11,2.020,0.000000,0.00,0.000,12.000
69,FFL3J1903001,1,1F,NaN,1.280000,21.700001,1.270,NaN,NaN,2019-03-06,3,J,1.28,21.70,1.270,19.387000,0.00,0.000,13.000
72,FFL3J1903001,1,START,NaN,0.000000,15.910000,1.790,NaN,NaN,2019-03-06,3,J,0.00,15.91,1.790,0.000000,0.00,0.000,13.000
73,FFL3J1903001,2,1F,NaN,1.450000,21.700001,1.320,NaN,NaN,2019-03-06,3,J,1.45,21.70,1.320,19.423000,0.00,0.000,13.000
76,FFL3J1903001,2,START,NaN,0.000000,15.780000,1.790,NaN,NaN,2019-03-06,3,J,0.00,15.78,1.790,0.000000,0.00,0.000,13.000
81,FFL3J1903001,4,1F,NaN,1.300000,22.170000,1.410,NaN,NaN,2019-03-06,3,J,1.30,22.17,1.410,19.131000,0.30,0.000,13.300
84,FFL3J1903001,4,START,NaN,0.000000,15.870000,1.790,NaN,NaN,2019-03-06,3,J,0.00,15.87,1.790,0.000000,0.00,0.000,13.000
85,FFL3J1903002,1,1F,NaN,0.966667,22.860001,1.430,NaN,NaN,2019-03-13,3,J,0.97,21.70,0.000,22.000000,0.00,0.000,12.000
86,FFL3J1903002,1,1M,NaN,7.420000,62.700001,2.120,NaN,2.3,2019-03-13,3,J,7.42,57.80,0.000,103.000000,0.00,3.850,18.000
88,FFL3J1903002,1,START,NaN,0.000000,15.910000,1.780,NaN,NaN,2019-03-13,3,J,0.00,15.91,0.000,0.000000,0.00,0.000,12.000
93,FFL3J1903002,3,1F,NaN,1.083333,22.400000,1.440,0.30,NaN,2019-03-13,3,J,1.28,22.58,1.440,19.825000,0.30,0.000,12.300
96,FFL3J1903002,3,START,NaN,0.000000,17.100000,1.730,NaN,NaN,2019-03-13,3,J,0.00,16.58,1.790,0.000000,0.00,0.000,12.000
100,FFL3J1903002,4,START,NaN,0.000000,15.400000,1.730,NaN,NaN,2019-03-13,3,J,0.00,15.87,1.790,0.000000,0.00,0.000,12.000
101,FFL3J1903003,1,1F,NaN,1.083333,21.299999,2.170,0.30,NaN,2019-03-20,3,J,1.08,21.30,0.000,18.277000,0.30,0.000,12.800
104,FFL3J1903003,1,START,NaN,0.000000,16.299999,2.450,NaN,NaN,2019-03-20,3,J,0.00,16.30,0.000,0.000000,0.00,0.000,12.500
105,FFL3J1903003,2,1F,NaN,1.166667,20.799999,2.270,0.40,NaN,2019-03-20,3,J,1.17,20.80,0.000,17.906000,0.40,0.000,12.500
108,FFL3J1903003,2,START,NaN,0.000000,16.600000,2.540,NaN,NaN,2019-03-20,3,J,0.00,16.60,0.000,0.000000,0.00,0.000,12.500
129,FFL3J1903004,4,1F,NaN,2.283333,18.000000,2.480,0.30,NaN,2019-03-27,3,J,2.28,18.00,0.000,17.301000,0.30,0.000,12.800
132,FFL3J1903004,4,START,NaN,0.000000,13.500000,2.920,NaN,NaN,2019-03-27,3,J,0.00,13.50,0.000,0.000000,0.00,0.000,12.500
133,FFL3J1903004,5,1F,NaN,2.366667,17.799999,1.960,NaN,NaN,2019-03-27,3,J,2.37,17.80,0.000,16.485000,0.00,0.000,12.500
136,FFL3J1903004,5,START,NaN,0.000000,13.800000,2.710,NaN,NaN,2019-03-27,3,J,0.00,13.80,0.000,0.000000,0.00,0.000,12.500
137,FFL3J1904001,1,1F,NaN,1.433333,19.100000,2.250,NaN,NaN,2019-04-03,3,J,1.40,19.10,2.250,16.800000,0.00,0.000,0.000
140,FFL3J1904001,1,START,NaN,0.000000,12.900000,2.700,NaN,NaN,2019-04-03,3,J,0.00,12.90,2.700,0.000000,0.00,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,FLY5E1810003,1,START,NaN,0.000000,11.260000,4.050,NaN,NaN,2018-10-17,5,E,0.00,11.26,4.050,0.000000,0.00,0.000,1.800
526,FLY5E1810005,1,1F,NaN,4.820000,46.340000,1.680,NaN,NaN,2018-10-31,5,E,4.82,46.34,1.680,45.621000,0.04,0.000,1.840
528,FLY5E1810005,1,2F,NaN,7.800000,59.419998,0.710,NaN,NaN,2018-10-31,5,E,7.80,59.42,0.710,68.929815,0.00,0.375,2.215
529,FLY5E1810005,1,START,NaN,0.000000,11.770000,4.100,NaN,NaN,2018-10-31,5,E,0.00,11.77,4.100,0.000000,0.00,0.000,1.800
530,FLY5E1810005,2,1F,NaN,4.920000,44.009998,1.180,NaN,NaN,2018-10-31,5,E,4.92,44.01,1.180,45.963000,0.00,0.000,1.800
532,FLY5E1810005,2,2F,NaN,7.883333,65.360001,1.570,NaN,NaN,2018-10-31,5,E,7.88,65.36,1.570,87.968275,0.00,0.375,2.175
533,FLY5E1810005,2,START,NaN,0.000000,11.900000,3.700,NaN,NaN,2018-10-31,5,E,0.00,11.90,3.700,0.000000,0.00,0.000,1.800
534,FLY5E1810005,3,1F,NaN,4.680000,42.700001,1.590,NaN,NaN,2018-10-31,5,E,4.68,42.70,1.590,45.494000,0.00,0.000,1.800
536,FLY5E1810005,3,2F,NaN,7.650000,70.180000,0.464,NaN,NaN,2018-10-31,5,E,7.65,70.18,0.464,75.578568,0.00,0.375,2.175
537,FLY5E1810005,3,START,NaN,0.000000,12.100000,3.430,NaN,NaN,2018-10-31,5,E,0.00,12.10,3.430,0.000000,0.00,0.000,1.800
542,FLY5E1810005,5,1F,NaN,4.680000,42.770000,1.140,NaN,NaN,2018-10-31,5,E,4.68,42.77,1.140,46.725000,0.04,0.000,1.840
544,FLY5E1810005,5,2F,NaN,7.650000,60.200001,0.915,NaN,NaN,2018-10-31,5,E,7.65,60.20,0.915,83.567607,0.00,0.375,2.215
545,FLY5E1810005,5,START,NaN,0.000000,12.180000,4.070,NaN,NaN,2018-10-31,5,E,0.00,12.18,4.070,0.000000,0.00,0.000,1.800
550,FLY5E1811002,2,1F,NaN,7.083333,43.090000,1.340,NaN,NaN,2018-11-14,5,E,7.08,43.09,1.340,48.561000,0.00,0.000,1.800
553,FLY5E1811002,2,START,NaN,0.000000,11.550000,3.620,NaN,NaN,2018-11-14,5,E,0.00,11.55,3.620,0.000000,0.00,0.000,1.800
554,FLY5E1811002,3,1F,NaN,7.080000,0.000000,0.000,NaN,NaN,2018-11-14,5,E,7.08,42.14,1.310,46.926000,0.00,0.000,1.800
557,FLY5E1811002,3,START,NaN,0.000000,11.330000,3.970,NaN,NaN,2018-11-14,5,E,0.00,11.33,3.970,0.000000,0.00,0.000,1.800
558,FLY5E1811002,4,1F,NaN,7.080000,42.480000,1.520,NaN,0.0,2018-11-14,5,E,7.08,42.48,1.520,47.555000,0.04,0.000,1.840
561,FLY5E1811002,4,START,NaN,0.000000,11.160000,3.800,NaN,NaN,2018-11-14,5,E,0.00,11.16,3.800,0.000000,0.00,0.000,1.800
562,FLY5E1811002,5,1F,NaN,7.083333,41.599998,1.310,0.04,NaN,2018-11-14,5,E,7.08,41.60,1.310,47.146000,0.04,0.000,1.840
565,FLY5E1811002,5,START,NaN,0.000000,11.280000,3.990,NaN,NaN,2018-11-14,5,E,0.00,11.28,3.990,0.000000,0.00,0.000,1.800
570,FLY5E1811003,2,1F,NaN,5.283333,47.360001,0.602,NaN,NaN,2018-11-21,5,E,5.28,47.36,0.000,51.672000,0.04,0.000,1.800
571,FLY5E1811003,2,1M,NaN,12.670000,79.809998,1.580,NaN,NaN,2018-11-21,5,E,12.67,79.81,0.000,152.984000,0.00,0.425,2.600
572,FLY5E1811003,2,2F,NaN,9.333333,71.699997,1.690,NaN,NaN,2018-11-21,5,E,9.33,71.70,0.000,107.194815,0.00,0.375,2.175
573,FLY5E1811003,2,START,NaN,0.000000,11.500000,3.900,NaN,NaN,2018-11-21,5,E,0.00,11.50,0.000,0.000000,0.00,0.000,1.800
577,FLY5E1811003,3,START,NaN,0.000000,11.500000,3.600,NaN,NaN,2018-11-21,5,E,0.00,11.50,0.000,0.000000,0.00,0.000,1.800
578,FLY5E1811003,4,1F,NaN,5.283333,43.900002,1.250,0.00,NaN,2018-11-21,5,E,5.28,43.90,0.000,49.703000,0.04,0.000,1.840
581,FLY5E1811003,4,START,NaN,0.000000,10.400000,4.300,NaN,NaN,2018-11-21,5,E,0.00,10.40,0.000,0.000000,0.00,0.000,1.800
582,FLY5E1811003,5,1F,NaN,5.333333,40.380001,1.120,0.04,NaN,2018-11-21,5,E,5.33,40.38,0.000,46.754000,0.08,0.000,1.880
585,FLY5E1811003,5,START,NaN,0.000000,9.200000,6.500,NaN,NaN,2018-11-21,5,E,0.00,9.20,0.000,0.000000,0.00,0.000,1.800

In [78]:
merged_data[merged_data['SAMP_NM'] == 'START']['ACC_SUGAR']

3      0.0
7      0.0
11     0.0
15     0.0
18     0.0
22     0.0
26     0.0
29     0.0
33     0.0
37     0.0
40     NaN
44     0.0
48     NaN
52     NaN
56     0.0
60     0.0
64     0.0
68     NaN
72     NaN
76     NaN
80     0.0
84     NaN
88     NaN
92     0.0
96     NaN
100    NaN
104    NaN
108    NaN
112    0.0
116    0.0
      ...
473    0.0
476    0.0
479    0.0
482    0.0
485    0.0
489    NaN
493    0.0
497    0.0
501    0.0
505    0.0
509    0.0
513    0.0
517    0.0
521    0.0
525    0.0
529    NaN
533    NaN
537    NaN
541    0.0
545    NaN
549    0.0
553    NaN
557    NaN
561    NaN
565    NaN
569    0.0
573    NaN
577    NaN
581    NaN
585    NaN
Name: ACC_SUGAR, Length: 149, dtype: float64

ACC_SUGAR 가 start에서 NaN일 경우 0으로 처리

In [79]:
con = merged_data['SAMP_NM'] == 'START'

merged_data.loc[con, 'ACC_SUGAR'] = merged_data.loc[con, 'ACC_SUGAR'].fillna(0)

SAMP_NM Mapping화

In [80]:
media_mapping = {'START' :1, '1F':2, '2F':3, '1M' : 4, '2M' :5 ,'3M':6, '4M':7, '5M':8, '6M':9, '7M':10, '8M':11, '9M':12, 'FBO':13}
for data in [merged_data]:
    data['SAMP_NM'] = data['SAMP_NM'].map(media_mapping)

In [81]:
merged_data = merged_data.sort_values([ "AUFNR","TANK_NO","SAMP_NM"])
merged_data.reset_index()
merged_data.head()

,AUFNR,TANK_NO,SAMP_NM,ACC_SUGAR,AGE_x,OD_x,AN_x,FEED_TOT,MBO_VOL_x,DATE,JAR_VOL,EQUIP_CD,AGE_y,OD_y,AN_y,LYS,AMS,SUGAR_FEED,MBO_VOL_y
3,FFL3J1901004,1,1,0.0,0.000000,15.940000,1.720,0.0,NaN,2019-01-23,3,J,0.00,15.94,1.720,0.000000,0.0,0.0,13.0
0,FFL3J1901004,1,2,0.0,1.566667,24.580000,1.160,0.0,NaN,2019-01-23,3,J,1.57,24.58,1.160,21.929000,0.2,0.0,13.2
2,FFL3J1901004,1,3,2.6,5.666667,49.099998,1.170,2.6,NaN,2019-01-23,3,J,5.67,49.10,1.170,62.686727,0.3,2.4,15.9
1,FFL3J1901004,1,4,6.0,8.833333,57.939999,0.491,6.3,NaN,2019-01-23,3,J,8.83,57.94,0.491,94.100000,0.3,3.6,19.8
7,FFL3J1901004,2,1,0.0,0.000000,16.110001,1.640,0.0,NaN,2019-01-23,3,J,0.00,16.11,1.640,0.000000,0.0,0.0,13.0

In [82]:
merged_data[merged_data.isna()['ACC_SUGAR']]

,AUFNR,TANK_NO,SAMP_NM,ACC_SUGAR,AGE_x,OD_x,AN_x,FEED_TOT,MBO_VOL_x,DATE,JAR_VOL,EQUIP_CD,AGE_y,OD_y,AN_y,LYS,AMS,SUGAR_FEED,MBO_VOL_y
19,FFL3J1901005,2,2,NaN,1.380000,23.400000,1.260,NaN,NaN,2019-01-30,3,J,1.38,23.40,1.260,22.685000,0.00,0.000,13.000
45,FFL3J1902002,1,2,NaN,1.000000,23.200001,NaN,NaN,NaN,2019-02-20,3,J,1.00,23.20,0.000,20.477000,0.00,0.000,12.000
49,FFL3J1902002,2,2,NaN,1.000000,22.299999,NaN,NaN,NaN,2019-02-20,3,J,1.00,22.30,0.000,20.221000,0.00,0.000,12.000
65,FFL3J1902003,4,2,NaN,1.066667,23.400000,1.490,NaN,NaN,2019-02-27,3,J,1.07,23.40,1.490,21.747000,0.00,0.000,12.000
69,FFL3J1903001,1,2,NaN,1.280000,21.700001,1.270,NaN,NaN,2019-03-06,3,J,1.28,21.70,1.270,19.387000,0.00,0.000,13.000
73,FFL3J1903001,2,2,NaN,1.450000,21.700001,1.320,NaN,NaN,2019-03-06,3,J,1.45,21.70,1.320,19.423000,0.00,0.000,13.000
81,FFL3J1903001,4,2,NaN,1.300000,22.170000,1.410,NaN,NaN,2019-03-06,3,J,1.30,22.17,1.410,19.131000,0.30,0.000,13.300
85,FFL3J1903002,1,2,NaN,0.966667,22.860001,1.430,NaN,NaN,2019-03-13,3,J,0.97,21.70,0.000,22.000000,0.00,0.000,12.000
86,FFL3J1903002,1,4,NaN,7.420000,62.700001,2.120,NaN,2.300,2019-03-13,3,J,7.42,57.80,0.000,103.000000,0.00,3.850,18.000
93,FFL3J1903002,3,2,NaN,1.083333,22.400000,1.440,0.30,NaN,2019-03-13,3,J,1.28,22.58,1.440,19.825000,0.30,0.000,12.300
101,FFL3J1903003,1,2,NaN,1.083333,21.299999,2.170,0.30,NaN,2019-03-20,3,J,1.08,21.30,0.000,18.277000,0.30,0.000,12.800
105,FFL3J1903003,2,2,NaN,1.166667,20.799999,2.270,0.40,NaN,2019-03-20,3,J,1.17,20.80,0.000,17.906000,0.40,0.000,12.500
129,FFL3J1903004,4,2,NaN,2.283333,18.000000,2.480,0.30,NaN,2019-03-27,3,J,2.28,18.00,0.000,17.301000,0.30,0.000,12.800
133,FFL3J1903004,5,2,NaN,2.366667,17.799999,1.960,NaN,NaN,2019-03-27,3,J,2.37,17.80,0.000,16.485000,0.00,0.000,12.500
137,FFL3J1904001,1,2,NaN,1.433333,19.100000,2.250,NaN,NaN,2019-04-03,3,J,1.40,19.10,2.250,16.800000,0.00,0.000,0.000
141,FFL3J1904001,2,2,NaN,1.433333,19.100000,2.450,NaN,NaN,2019-04-03,3,J,1.40,19.10,2.450,17.000000,NaN,NaN,NaN
149,FFL3J1904001,4,2,NaN,1.433333,18.900000,2.080,0.30,NaN,2019-04-03,3,J,1.40,18.90,2.080,17.000000,0.30,NaN,NaN
153,FFL3J1904001,5,2,NaN,1.433333,19.000000,1.910,NaN,NaN,2019-04-03,3,J,1.40,19.00,1.910,17.100000,NaN,NaN,NaN
157,FFL3J1904002,1,2,NaN,1.366667,19.200001,2.720,NaN,NaN,2019-04-10,3,J,1.40,19.20,2.720,16.500000,NaN,NaN,NaN
159,FFL3J1904002,1,3,NaN,5.416667,41.200001,NaN,NaN,NaN,2019-04-10,3,J,5.40,41.20,NaN,60.000000,NaN,2.260,NaN
161,FFL3J1904002,2,2,NaN,1.416667,19.100000,2.520,NaN,NaN,2019-04-10,3,J,1.40,19.10,2.520,16.400000,NaN,NaN,NaN
163,FFL3J1904002,2,3,NaN,5.500000,40.299999,NaN,NaN,NaN,2019-04-10,3,J,5.50,40.30,NaN,59.000000,NaN,2.260,NaN
165,FFL3J1904002,3,2,NaN,1.533333,19.000000,2.720,NaN,NaN,2019-04-10,3,J,1.50,19.00,2.720,16.600000,NaN,NaN,NaN
167,FFL3J1904002,3,3,NaN,5.583333,41.000000,NaN,NaN,NaN,2019-04-10,3,J,5.60,41.00,NaN,58.000000,NaN,2.260,NaN
169,FFL3J1904002,4,2,NaN,1.616667,18.799999,2.690,NaN,NaN,2019-04-10,3,J,1.60,18.80,2.690,16.500000,NaN,NaN,NaN
171,FFL3J1904002,4,3,NaN,5.750000,40.700001,NaN,NaN,NaN,2019-04-10,3,J,5.80,40.70,NaN,57.000000,0.40,2.260,NaN
173,FFL3J1904002,5,2,NaN,1.633333,19.100000,2.500,NaN,NaN,2019-04-10,3,J,1.60,19.10,2.500,16.600000,NaN,NaN,NaN
175,FFL3J1904002,5,3,NaN,5.716667,40.900002,NaN,NaN,NaN,2019-04-10,3,J,5.70,40.90,NaN,61.000000,NaN,2.260,NaN
177,FFL3J1904003,1,2,NaN,1.450000,21.000000,2.960,NaN,NaN,2019-04-17,3,J,1.50,21.00,2.960,17.800000,0.20,NaN,NaN
185,FFL3J1904003,3,2,NaN,1.466667,20.900000,2.880,NaN,NaN,2019-04-17,3,J,1.50,20.90,2.880,17.500000,0.20,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,FLY5D1901001,1,2,NaN,2.320000,17.400000,3.790,NaN,NaN,2019-01-02,5,D,2.32,17.40,3.790,25.393000,0.00,0.000,1.800
441,FLY5D1901001,1,3,NaN,6.300000,38.299999,4.180,NaN,NaN,2019-01-02,5,D,6.30,38.30,4.180,57.196000,0.00,0.375,2.175
443,FLY5D1901001,2,2,NaN,2.370000,18.100000,3.600,NaN,NaN,2019-01-02,5,D,2.37,18.10,3.600,24.793000,0.00,0.000,1.800
447,FLY5D1901001,3,2,NaN,2.380000,16.799999,3.710,NaN,NaN,2019-01-02,5,D,2.38,16.80,3.710,23.808000,0.00,0.000,1.800
451,FLY5D1901002,1,2,NaN,2.400000,22.070000,3.640,NaN,NaN,2019-01-09,5,D,2.40,22.07,3.640,23.774000,0.00,0.000,1.800
455,FLY5D1901002,2,2,NaN,2.433333,20.830000,3.300,NaN,NaN,2019-01-09,5,D,2.43,20.83,3.300,23.741000,0.00,0.000,1.800
459,FLY5D1901002,3,2,NaN,2.483333,21.750000,3.820,NaN,NaN,2019-01-09,5,D,2.48,21.75,3.820,23.447000,0.00,0.000,1.800
460,FLY5D1901002,3,4,NaN,11.370000,49.799999,7.430,NaN,0.384,2019-01-09,5,D,11.37,49.80,7.430,94.885000,0.00,0.425,2.600
463,FLY5D1901002,4,2,NaN,2.483333,21.920000,3.370,NaN,NaN,2019-01-09,5,D,2.48,21.92,3.370,23.596000,0.00,0.000,1.800
467,FLY5D1901002,5,2,NaN,2.433333,21.020000,3.370,NaN,NaN,2019-01-09,5,D,2.43,21.02,3.370,23.576000,0.00,0.000,1.800
468,FLY5D1901002,5,4,NaN,10.080000,54.799999,2.740,NaN,0.384,2019-01-09,5,D,10.08,54.80,2.740,94.104000,0.00,0.425,2.600
486,FLY5E1810003,1,2,NaN,4.830000,44.500000,1.250,NaN,NaN,2018-10-17,5,E,4.83,44.50,1.250,46.321000,0.00,0.000,1.800
488,FLY5E1810003,1,3,NaN,8.900000,66.400002,NaN,NaN,NaN,2018-10-17,5,E,8.90,66.40,0.000,100.878146,0.00,0.375,2.175
526,FLY5E1810005,1,2,NaN,4.820000,46.340000,1.680,NaN,NaN,2018-10-31,5,E,4.82,46.34,1.680,45.621000,0.04,0.000,1.840
528,FLY5E1810005,1,3,NaN,7.800000,59.419998,0.710,NaN,NaN,2018-10-31,5,E,7.80,59.42,0.710,68.929815,0.00,0.375,2.215
530,FLY5E1810005,2,2,NaN,4.920000,44.009998,1.180,NaN,NaN,2018-10-31,5,E,4.92,44.01,1.180,45.963000,0.00,0.000,1.800
532,FLY5E1810005,2,3,NaN,7.883333,65.360001,1.570,NaN,NaN,2018-10-31,5,E,7.88,65.36,1.570,87.968275,0.00,0.375,2.175
534,FLY5E1810005,3,2,NaN,4.680000,42.700001,1.590,NaN,NaN,2018-10-31,5,E,4.68,42.70,1.590,45.494000,0.00,0.000,1.800
536,FLY5E1810005,3,3,NaN,7.650000,70.180000,0.464,NaN,NaN,2018-10-31,5,E,7.65,70.18,0.464,75.578568,0.00,0.375,2.175
542,FLY5E1810005,5,2,NaN,4.680000,42.770000,1.140,NaN,NaN,2018-10-31,5,E,4.68,42.77,1.140,46.725000,0.04,0.000,1.840
544,FLY5E1810005,5,3,NaN,7.650000,60.200001,0.915,NaN,NaN,2018-10-31,5,E,7.65,60.20,0.915,83.567607,0.00,0.375,2.215
550,FLY5E1811002,2,2,NaN,7.083333,43.090000,1.340,NaN,NaN,2018-11-14,5,E,7.08,43.09,1.340,48.561000,0.00,0.000,1.800
554,FLY5E1811002,3,2,NaN,7.080000,0.000000,0.000,NaN,NaN,2018-11-14,5,E,7.08,42.14,1.310,46.926000,0.00,0.000,1.800
558,FLY5E1811002,4,2,NaN,7.080000,42.480000,1.520,NaN,0.000,2018-11-14,5,E,7.08,42.48,1.520,47.555000,0.04,0.000,1.840
562,FLY5E1811002,5,2,NaN,7.083333,41.599998,1.310,0.04,NaN,2018-11-14,5,E,7.08,41.60,1.310,47.146000,0.04,0.000,1.840
570,FLY5E1811003,2,2,NaN,5.283333,47.360001,0.602,NaN,NaN,2018-11-21,5,E,5.28,47.36,0.000,51.672000,0.04,0.000,1.800
572,FLY5E1811003,2,3,NaN,9.333333,71.699997,1.690,NaN,NaN,2018-11-21,5,E,9.33,71.70,0.000,107.194815,0.00,0.375,2.175
571,FLY5E1811003,2,4,NaN,12.670000,79.809998,1.580,NaN,NaN,2018-11-21,5,E,12.67,79.81,0.000,152.984000,0.00,0.425,2.600
578,FLY5E1811003,4,2,NaN,5.283333,43.900002,1.250,0.00,NaN,2018-11-21,5,E,5.28,43.90,0.000,49.703000,0.04,0.000,1.840
582,FLY5E1811003,5,2,NaN,5.333333,40.380001,1.120,0.04,NaN,2018-11-21,5,E,5.33,40.38,0.000,46.754000,0.08,0.000,1.880

In [83]:
for index, data in merged_data.iterrows():
    if data.isnull()['ACC_SUGAR']:
        if data['SAMP_NM'] == 2: #1F
            prev_acc_sugar = merged_data[(merged_data["AUFNR"] == data["AUFNR"]) & (merged_data["TANK_NO"] == data["TANK_NO"]) & (merged_data["SAMP_NM"] == 1)]["ACC_SUGAR"]
            
        elif data['SAMP_NM'] == 3:
            prev_acc_sugar = merged_data[(merged_data["AUFNR"] == data["AUFNR"]) & (merged_data["TANK_NO"] == data["TANK_NO"]) & (merged_data["SAMP_NM"] == 2)]["ACC_SUGAR"]
     
        elif data['SAMP_NM'] == 4:
            prev_acc_sugar = merged_data[(merged_data["AUFNR"] == data["AUFNR"]) & (merged_data["TANK_NO"] == data["TANK_NO"]) & (merged_data["SAMP_NM"] == 3)]["ACC_SUGAR"]
        
        if data.isnull()['SUGAR_FEED']:
            merged_data.at[index,'ACC_SUGAR'] = float(prev_acc_sugar)
        else:
            merged_data.at[index, 'ACC_SUGAR'] = float(prev_acc_sugar) + data['SUGAR_FEED']
              
merged_data[(merged_data.isnull()['ACC_SUGAR'])]

Empty DataFrame
Columns: [AUFNR, TANK_NO, SAMP_NM, ACC_SUGAR, AGE_x, OD_x, AN_x, FEED_TOT, MBO_VOL_x, DATE, JAR_VOL, EQUIP_CD, AGE_y, OD_y, AN_y, LYS, AMS, SUGAR_FEED, MBO_VOL_y]
Index: []

In [84]:
merged_data[(merged_data['AUFNR']=='FLY5E1811002') &(merged_data['TANK_NO']== 2)]

,AUFNR,TANK_NO,SAMP_NM,ACC_SUGAR,AGE_x,OD_x,AN_x,FEED_TOT,MBO_VOL_x,DATE,JAR_VOL,EQUIP_CD,AGE_y,OD_y,AN_y,LYS,AMS,SUGAR_FEED,MBO_VOL_y
553,FLY5E1811002,2,1,0.000,0.000000,11.550000,3.62,NaN,NaN,2018-11-14,5,E,0.00,11.55,3.62,0.000000,0.0,0.000,1.800
550,FLY5E1811002,2,2,0.000,7.083333,43.090000,1.34,NaN,NaN,2018-11-14,5,E,7.08,43.09,1.34,48.561000,0.0,0.000,1.800
552,FLY5E1811002,2,3,0.376,11.080000,63.700001,1.48,0.376,NaN,2018-11-14,5,E,11.08,63.70,1.48,100.714053,0.0,0.375,2.175
551,FLY5E1811002,2,4,0.800,14.450000,74.500000,1.75,0.800,0.24,2018-11-14,5,E,14.45,74.50,1.75,144.653000,0.0,0.425,2.600

In [85]:
media_data.rename(columns={"Media_ID":"SAMP_NM"}, inplace = True)
media_data

media_mapping = {'F1' :2, 'F2':3, 'Main':4}
for data in [media_data]:
    data['SAMP_NM'] = data['SAMP_NM'].map(media_mapping)
media_data

,AUFNR,DATE,JAR_VOL,EQUIP_CD,TANK_NO,SAMP_NM,HSM,CSL,[(NH4)2SO4],KH2PO4,...,Sucrose,CuSO4,FeSO4,MgSO4,MnSO4,ZnSO4,Betaine,H3PO4,SOD,Glucose
0,FLY5E1810002,2018-10-10,5,E,1,4,0.00,11.700,16.000000,0.20000,...,49.746193,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.0
1,FLY5E1810002,2018-10-10,5,E,1,2,0.00,6.840,45.510500,0.64480,...,475.691290,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.0
2,FLY5E1810002,2018-10-10,5,E,1,3,0.00,6.840,34.611375,0.64480,...,475.691290,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.0
3,FLY5E1810002,2018-10-10,5,E,2,4,0.00,11.700,16.000000,0.20000,...,49.746193,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.0
4,FLY5E1810002,2018-10-10,5,E,2,2,0.00,3.420,22.755250,0.32240,...,237.845645,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.0
5,FLY5E1810002,2018-10-10,5,E,2,3,0.00,3.420,17.305688,0.32240,...,237.845645,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.0
6,FLY5E1810002,2018-10-10,5,E,3,4,0.00,11.700,16.000000,0.20000,...,49.746193,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.0
7,FLY5E1810002,2018-10-10,5,E,3,2,0.00,1.710,22.755250,0.16120,...,118.922823,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.0
8,FLY5E1810002,2018-10-10,5,E,3,3,0.00,1.710,17.305688,0.16120,...,118.922823,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.0
9,FLY5E1810002,2018-10-10,5,E,4,4,0.00,11.700,16.000000,0.20000,...,49.746193,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.0
10,FLY5E1810002,2018-10-10,5,E,4,2,0.00,2.052,13.653150,0.19344,...,142.707387,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.0
11,FLY5E1810002,2018-10-10,5,E,4,3,0.00,2.052,10.383413,0.19344,...,142.707387,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.0
12,FLY5E1810002,2018-10-10,5,E,5,4,0.00,11.700,16.000000,0.20000,...,49.746193,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.0
13,FLY5E1810002,2018-10-10,5,E,5,2,0.00,0.684,4.551050,0.06448,...,47.569129,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.0
14,FLY5E1810002,2018-10-10,5,E,5,3,0.00,0.684,3.461137,0.06448,...,47.569129,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.0
15,FLY5E1810003,2018-10-17,5,E,1,4,0.00,11.700,16.000000,0.40000,...,49.746193,0.00,0.0,0.370,0.00,0.00,0.0,0.00,0.0,0.0
16,FLY5E1810003,2018-10-17,5,E,1,2,0.00,6.840,45.510500,0.64480,...,475.691290,0.00,0.0,0.449,0.00,0.00,0.0,0.00,0.0,0.0
17,FLY5E1810003,2018-10-17,5,E,1,3,0.00,6.840,34.611375,0.64480,...,337.651000,0.00,0.0,0.449,0.00,0.00,0.0,0.00,0.0,0.0
18,FLY5E1810003,2018-10-17,5,E,2,4,0.00,11.700,16.000000,0.40000,...,49.746193,0.00,0.0,0.370,0.00,0.00,0.0,0.00,0.0,0.0
19,FLY5E1810003,2018-10-17,5,E,2,2,0.00,6.840,13.653150,0.64480,...,475.691290,0.00,0.0,0.449,0.00,0.00,0.0,0.00,0.0,0.0
20,FLY5E1810003,2018-10-17,5,E,2,3,0.00,6.840,10.383413,0.64480,...,337.651000,0.00,0.0,0.449,0.00,0.00,0.0,0.00,0.0,0.0
21,FLY5E1810003,2018-10-17,5,E,3,4,0.00,11.700,16.000000,0.40000,...,49.746193,0.00,0.0,0.370,0.00,0.00,0.0,0.00,0.0,0.0
22,FLY5E1810003,2018-10-17,5,E,3,2,0.00,6.840,13.653150,0.64480,...,475.691290,0.00,0.0,0.449,0.00,0.00,0.0,0.00,0.0,0.0
23,FLY5E1810003,2018-10-17,5,E,3,3,0.00,6.840,10.383413,0.64480,...,337.651000,0.00,0.0,0.449,0.00,0.00,0.0,0.00,0.0,0.0
24,FLY5E1810003,2018-10-17,5,E,4,4,0.00,11.700,16.000000,0.40000,...,49.746193,0.00,0.0,0.370,0.00,0.00,0.0,0.00,0.0,0.0
25,FLY5E1810003,2018-10-17,5,E,4,2,0.00,6.840,4.551050,0.64480,...,475.691290,0.00,0.0,0.449,0.00,0.00,0.0,0.00,0.0,0.0
26,FLY5E1810003,2018-10-17,5,E,4,3,0.00,6.840,3.461137,0.64480,...,337.651000,0.00,0.0,0.449,0.00,0.00,0.0,0.00,0.0,0.0
27,FLY5E1810003,2018-10-17,5,E,5,4,0.00,11.700,16.000000,0.40000,...,49.746193,0.00,0.0,0.370,0.00,0.00,0.0,0.00,0.0,0.0
28,FLY5E1810003,2018-10-17,5,E,5,2,0.00,6.840,4.551050,0.64480,...,475.691290,0.00,0.0,0.449,0.00,0.00,0.0,0.00,0.0,0.0
29,FLY5E1810003,2018-10-17,5,E,5,3,0.00,6.840,3.461137,0.64480,...,337.651000,0.00,0.0,0.449,0.00,0.00,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,FFL5E1904005,2019-05-01,5,E,4,3,3.36,0.000,48.000000,0.00000,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.9
418,FFL5E1904005,2019-05-01,5,E,5,4,8.85,0.000,7.800000,0.00000,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.0
419,FFL5E1904005,2019-05-01,5,E,5,2,3.36,0.000,96.000000,0.00000,...,343.900000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.0
420,FFL5E1904005,2019-05-01,5,E,5,3,3.36,0.000,96.000000,0.00000,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.9
421,FFL3J1906002,2019-06-05,3,J,1,4,8.85,0.000,100.740000,0.00000,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.0
422,FFL3J1906002,2019-06-05,3,J,1,2,3.36,0.000,433.520000,0.00000,...,343.900000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.0
423,FFL3J1906002,2019-06-05,3,J,1,3,3.36,0.000,359.100000,0.00000,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.9
424,FFL3J1906002,2019-06-05,3,J,2,4,8.85,0.000,100.740000,0.00000,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.0
425,FFL3J1906002,2019-06-05,3,J,2,2,3.36,0.000,433.520000,0.00000,...,343.900000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.0
426,FFL3J1906002,2019-06-05,3,J,2,3,3.36,0.000,359.100000,0.00000,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.9
427,FFL3J1905003,2019-05-12,3,J,1,4,8.85,0.000,7.800000,0.00000,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.0
428,FFL3J1905003,2019-05-12,3,J,1,2,3.36,0.000,57.600000,0.00000,...,343.900000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.0
429,FFL3J1905003,2019-05-12,3,J,1,3,3.36,0.000,0.000000,0.00000,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.9
430,FFL3J1906002,2019-06-05,3,J,4,4,8.85,0.000,100.740000,0.00000,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.0
431,FFL3J1906002,2019-06-05,3,J,4,2,3.36,0.000,722.440000,0.00000,...,343.900000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.0
432,FFL3J1906002,2019-06-05,3,J,4,3,3.36,0.000,1197.420000,0.00000,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.9
433,FFL3J1906003,2019-06-12,3,J,1,4,8.85,0.000,100.740000,0.00000,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.0
434,FFL3J1906003,2019-06-12,3,J,1,2,3.36,0.000,433.520000,0.00000,...,343.900000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.0
435,FFL3J1906003,2019-06-12,3,J,1,3,3.36,0.000,433.520000,0.00000,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.9
436,FFL3J1906003,2019-06-12,3,J,2,4,8.85,0.000,100.740000,0.00000,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.0
437,FFL3J1906003,2019-06-12,3,J,2,2,3.36,0.000,433.520000,0.00000,...,343.900000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.0
438,FFL3J1906003,2019-06-12,3,J,2,3,3.36,0.000,433.520000,0.00000,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.9
439,FFL3J1906003,2019-06-12,3,J,3,4,8.85,0.000,97.500000,0.00000,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.0
440,FFL3J1906003,2019-06-12,3,J,3,2,3.36,0.000,140.200000,0.00000,...,343.900000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.0
441,FFL3J1906003,2019-06-12,3,J,3,3,3.36,0.000,140.200000,0.00000,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.9
442,FFL3J1906003,2019-06-12,3,J,4,4,8.85,0.000,97.500000,0.00000,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.0
443,FFL3J1906003,2019-06-12,3,J,4,2,3.36,0.000,140.200000,0.00000,...,343.900000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.0
444,FFL3J1906003,2019-06-12,3,J,4,3,3.36,0.000,140.200000,0.00000,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.9
445,FFL3J1905003,2019-05-12,3,J,2,4,8.85,0.000,7.800000,0.00000,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.0
446,FFL3J1905003,2019-05-12,3,J,2,2,3.36,0.000,57.600000,0.00000,...,343.900000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.0

In [86]:
media_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447 entries, 0 to 446
Data columns (total 27 columns):
AUFNR               447 non-null object
DATE                447 non-null datetime64[ns]
JAR_VOL             447 non-null int64
EQUIP_CD            447 non-null object
TANK_NO             447 non-null int64
SAMP_NM             447 non-null int64
HSM                 447 non-null float64
CSL                 447 non-null float64
[(NH4)2SO4]         447 non-null float64
KH2PO4              447 non-null float64
[d-Biotin]          447 non-null float64
[Thiamine-HCL]      447 non-null float64
[Ca-Pantothenic]    447 non-null float64
Niacinamide         447 non-null float64
Defoamer            447 non-null float64
BM                  447 non-null float64
CM                  447 non-null float64
Sucrose             447 non-null float64
CuSO4               447 non-null float64
FeSO4               447 non-null float64
MgSO4               447 non-null float64
MnSO4               447 non-null float64
ZnSO4               447 non-null float64
Betaine             447 non-null float64
H3PO4               447 non-null float64
SOD                 447 non-null float64
Glucose             447 non-null float64
dtypes: datetime64[ns](1), float64(21), int64(3), object(2)
memory usage: 94.4+ KB

Media data와 통합

In [87]:
all_merged = pd.merge(merged_data, media_data, on = ['AUFNR', 'TANK_NO', 'SAMP_NM'], how = 'left')
all_merged.drop(['DATE_y','AGE_y','OD_y', 'AMS', 'SUGAR_FEED', 'DATE_y', 'JAR_VOL_y','EQUIP_CD_y'], axis=1, inplace= True)


con = all_merged['SAMP_NM'] == '1'
media = ['HSM','CSL','[(NH4)2SO4]','KH2PO4','[d-Biotin]','[Thiamine-HCL]','[Ca-Pantothenic]','Niacinamide','Defoamer','BM','CM','Sucrose','CuSO4','FeSO4','MgSO4','MnSO4','ZnSO4','Betaine','H3PO4','SOD','Glucose']
all_merged[media] = all_merged[media].fillna(0)

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

MBO_VOL

In [88]:
all_merged[(all_merged.notnull()['MBO_VOL_x']) & (all_merged['SAMP_NM'] != 4)]
# 1M이 아닌 경우 0으로 처리해야함

,AUFNR,TANK_NO,SAMP_NM,ACC_SUGAR,AGE_x,OD_x,AN_x,FEED_TOT,MBO_VOL_x,DATE_x,...,Sucrose,CuSO4,FeSO4,MgSO4,MnSO4,ZnSO4,Betaine,H3PO4,SOD,Glucose
98,FFL3J1903002,4,2,0.000,1.083333,21.799999,1.45,0.101,0.00,2019-03-13,...,358.668367,0.07,27.6,0.128243,12.32,0.55,0.0,0.19,0.0,0.0
234,FFL3J1905003,1,2,0.000,1.416667,25.100000,0.00,0.000,0.00,2019-05-12,...,343.900000,0.07,27.6,0.130000,12.32,0.55,0.0,0.19,0.0,0.0
238,FFL3J1905003,2,2,0.000,1.416667,25.200001,0.00,0.000,0.00,2019-05-12,...,343.900000,0.07,27.6,0.130000,12.32,0.55,0.0,0.19,0.0,0.0
282,FFL3J1906003,1,2,0.000,1.600000,19.700001,0.00,0.000,0.00,2019-06-12,...,343.900000,0.07,27.6,0.130000,12.32,0.55,0.0,0.19,0.0,0.0
354,FFL5E1904005,2,2,0.000,1.650000,26.400000,2.18,0.000,0.00,2019-05-01,...,343.900000,0.07,27.6,0.130000,12.32,0.55,0.0,0.19,0.0,0.0
358,FFL5E1904005,3,2,0.000,1.650000,25.660000,2.13,0.000,0.00,2019-05-01,...,343.900000,0.07,27.6,0.130000,12.32,0.55,0.0,0.19,0.0,0.0
559,FLY5E1811002,4,2,0.000,7.080000,42.480000,1.52,NaN,0.00,2018-11-14,...,468.270000,0.00,0.0,0.449000,0.00,0.00,0.0,0.00,0.0,0.0
575,FLY5E1811003,3,2,0.000,5.433333,51.669998,0.20,0.040,0.00,2018-11-21,...,468.270000,0.00,0.0,0.449000,0.00,0.00,0.0,0.00,0.0,0.0
580,FLY5E1811003,4,3,0.375,9.333333,72.800003,2.31,0.415,0.24,2018-11-21,...,363.312500,0.00,0.0,0.449000,0.00,0.00,0.0,0.00,0.0,0.0

In [89]:
con = all_merged['SAMP_NM'] != 4

all_merged.loc[con, 'MBO_VOL_x'] = all_merged.loc[con, 'MBO_VOL_x'].fillna(0)

all_merged[all_merged.isnull()['MBO_VOL_x']]

,AUFNR,TANK_NO,SAMP_NM,ACC_SUGAR,AGE_x,OD_x,AN_x,FEED_TOT,MBO_VOL_x,DATE_x,...,Sucrose,CuSO4,FeSO4,MgSO4,MnSO4,ZnSO4,Betaine,H3PO4,SOD,Glucose
3,FFL3J1901004,1,4,6.0,8.833333,57.939999,0.491,6.30,NaN,2019-01-23,...,10.710000,0.0,0.0,0.23,0.0,0.0,0.0,0.29,0.0,0.0
256,FFL3J1906001,2,4,7.3,8.400000,46.900002,NaN,7.60,NaN,2019-05-31,...,10.710000,0.0,0.0,0.23,0.0,0.0,0.0,0.29,0.0,0.0
569,FLY5E1811003,1,4,0.0,14.333333,68.650002,1.620,0.00,NaN,2018-11-21,...,49.746193,0.0,0.0,0.37,0.0,0.0,0.0,0.00,0.0,0.0
573,FLY5E1811003,2,4,0.8,12.670000,79.809998,1.580,NaN,NaN,2018-11-21,...,49.746193,0.0,0.0,0.37,0.0,0.0,0.0,0.00,0.0,0.0
577,FLY5E1811003,3,4,0.0,15.883333,67.610001,4.520,0.04,NaN,2018-11-21,...,49.746193,0.0,0.0,0.37,0.0,0.0,0.0,0.00,0.0,0.0

In [90]:
all_merged[(all_merged.isnull()['MBO_VOL_x'])]

,AUFNR,TANK_NO,SAMP_NM,ACC_SUGAR,AGE_x,OD_x,AN_x,FEED_TOT,MBO_VOL_x,DATE_x,...,Sucrose,CuSO4,FeSO4,MgSO4,MnSO4,ZnSO4,Betaine,H3PO4,SOD,Glucose
3,FFL3J1901004,1,4,6.0,8.833333,57.939999,0.491,6.30,NaN,2019-01-23,...,10.710000,0.0,0.0,0.23,0.0,0.0,0.0,0.29,0.0,0.0
256,FFL3J1906001,2,4,7.3,8.400000,46.900002,NaN,7.60,NaN,2019-05-31,...,10.710000,0.0,0.0,0.23,0.0,0.0,0.0,0.29,0.0,0.0
569,FLY5E1811003,1,4,0.0,14.333333,68.650002,1.620,0.00,NaN,2018-11-21,...,49.746193,0.0,0.0,0.37,0.0,0.0,0.0,0.00,0.0,0.0
573,FLY5E1811003,2,4,0.8,12.670000,79.809998,1.580,NaN,NaN,2018-11-21,...,49.746193,0.0,0.0,0.37,0.0,0.0,0.0,0.00,0.0,0.0
577,FLY5E1811003,3,4,0.0,15.883333,67.610001,4.520,0.04,NaN,2018-11-21,...,49.746193,0.0,0.0,0.37,0.0,0.0,0.0,0.00,0.0,0.0

AN의 NaN 값 처리

In [91]:
all_merged[(all_merged.isnull()['AN_x'])]

,AUFNR,TANK_NO,SAMP_NM,ACC_SUGAR,AGE_x,OD_x,AN_x,FEED_TOT,MBO_VOL_x,DATE_x,...,Sucrose,CuSO4,FeSO4,MgSO4,MnSO4,ZnSO4,Betaine,H3PO4,SOD,Glucose
22,FFL3J1901005,2,4,6.000,8.716666,58.900002,NaN,6.000,2.60,2019-01-30,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.000000
26,FFL3J1901005,3,4,6.000,8.700000,58.200001,NaN,6.300,2.60,2019-01-30,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.000000
31,FFL3J1902001,1,2,0.000,1.333333,26.400000,NaN,0.000,0.00,2019-02-14,...,363.581633,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
32,FFL3J1902001,1,3,3.200,6.033333,54.110001,NaN,3.200,0.00,2019-02-14,...,285.051020,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,81.318681
35,FFL3J1902001,2,2,0.000,1.433333,24.200001,NaN,0.000,0.00,2019-02-14,...,363.581633,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
36,FFL3J1902001,2,3,3.200,6.283333,53.880001,NaN,3.200,0.00,2019-02-14,...,285.051020,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,81.318681
39,FFL3J1902001,3,2,0.000,1.333333,27.299999,NaN,0.000,0.00,2019-02-14,...,363.581633,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
40,FFL3J1902001,3,3,3.200,6.533333,54.540001,NaN,3.200,0.00,2019-02-14,...,285.051020,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,81.318681
42,FFL3J1902001,4,2,0.000,1.333333,28.600000,NaN,0.000,0.00,2019-02-14,...,363.581633,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
43,FFL3J1902001,4,3,3.200,6.550000,52.880001,NaN,3.200,0.00,2019-02-14,...,285.051020,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,81.318681
45,FFL3J1902002,1,1,0.000,0.000000,17.100000,NaN,NaN,0.00,2019-02-20,...,0.000000,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.000000
46,FFL3J1902002,1,2,0.000,1.000000,23.200001,NaN,NaN,0.00,2019-02-20,...,363.581633,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
49,FFL3J1902002,2,1,0.000,0.000000,17.600000,NaN,NaN,0.00,2019-02-20,...,0.000000,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.000000
50,FFL3J1902002,2,2,0.000,1.000000,22.299999,NaN,NaN,0.00,2019-02-20,...,363.581633,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
159,FFL3J1904002,1,3,2.260,5.416667,41.200001,NaN,NaN,0.00,2019-04-10,...,285.100000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
163,FFL3J1904002,2,3,2.260,5.500000,40.299999,NaN,NaN,0.00,2019-04-10,...,285.100000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
167,FFL3J1904002,3,3,2.260,5.583333,41.000000,NaN,NaN,0.00,2019-04-10,...,285.100000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
171,FFL3J1904002,4,3,2.260,5.750000,40.700001,NaN,NaN,0.00,2019-04-10,...,285.100000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
175,FFL3J1904002,5,3,2.260,5.716667,40.900002,NaN,NaN,0.00,2019-04-10,...,285.100000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
199,FFL3J1904004,2,3,2.260,5.500000,45.000000,NaN,NaN,0.00,2019-04-24,...,285.100000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
203,FFL3J1904004,3,3,2.260,5.416667,45.299999,NaN,2.260,0.00,2019-04-24,...,285.100000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
207,FFL3J1904004,4,3,2.260,5.250000,45.299999,NaN,2.260,0.00,2019-04-24,...,285.100000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
211,FFL3J1904004,5,3,2.260,5.183333,45.070000,NaN,2.260,0.00,2019-04-24,...,285.100000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
233,FFL3J1905003,1,1,0.000,0.000000,16.200001,NaN,NaN,0.00,2019-05-12,...,0.000000,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.000000
236,FFL3J1905003,1,4,5.040,9.016666,56.599998,NaN,7.600,3.00,2019-05-12,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.000000
237,FFL3J1905003,2,1,0.000,0.000000,16.100000,NaN,NaN,0.00,2019-05-12,...,0.000000,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.000000
240,FFL3J1905003,2,4,5.040,9.066667,56.200001,NaN,7.600,3.00,2019-05-12,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.000000
241,FFL3J1905003,3,1,0.000,0.000000,16.200001,NaN,NaN,0.00,2019-05-12,...,0.000000,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.000000
242,FFL3J1905003,3,2,0.000,1.416667,25.299999,NaN,NaN,0.00,2019-05-12,...,343.900000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
244,FFL3J1905003,3,4,5.040,9.016666,56.099998,NaN,7.600,3.00,2019-05-12,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,FFL3J1906003,1,4,5.040,8.633333,44.200001,NaN,5.240,3.00,2019-06-12,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.000000
285,FFL3J1906003,2,1,0.000,0.000000,15.100000,NaN,NaN,0.00,2019-06-12,...,0.000000,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.000000
286,FFL3J1906003,2,2,0.000,1.600000,19.500000,NaN,NaN,0.00,2019-06-12,...,343.900000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
287,FFL3J1906003,2,3,2.260,5.250000,36.799999,NaN,2.260,0.00,2019-06-12,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.900000
288,FFL3J1906003,2,4,7.300,9.000000,45.799999,NaN,NaN,3.00,2019-06-12,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.000000
289,FFL3J1906003,3,1,0.000,0.000000,15.000000,NaN,NaN,0.00,2019-06-12,...,0.000000,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.000000
290,FFL3J1906003,3,2,0.000,1.500000,19.299999,NaN,NaN,0.00,2019-06-12,...,343.900000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
291,FFL3J1906003,3,3,2.260,5.250000,37.500000,NaN,2.760,0.00,2019-06-12,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.900000
292,FFL3J1906003,3,4,5.040,8.933333,48.000000,NaN,8.200,3.00,2019-06-12,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.000000
293,FFL3J1906003,4,1,0.000,0.000000,15.100000,NaN,NaN,0.00,2019-06-12,...,0.000000,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.000000
294,FFL3J1906003,4,2,0.000,1.500000,19.200001,NaN,NaN,0.00,2019-06-12,...,343.900000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
295,FFL3J1906003,4,3,2.260,5.250000,37.099998,NaN,2.760,0.00,2019-06-12,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.900000
296,FFL3J1906003,4,4,7.300,9.033334,41.799999,NaN,8.000,3.00,2019-06-12,...,10.710000,0.00,0.0,0.230,0.00,0.00,0.0,0.29,0.0,0.000000
351,FFL5E1904005,1,3,0.225,5.433333,43.040001,NaN,0.225,0.00,2019-05-01,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.900000
355,FFL5E1904005,2,3,0.225,5.366667,43.110001,NaN,0.225,0.00,2019-05-01,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.900000
359,FFL5E1904005,3,3,0.225,5.233333,44.509998,NaN,0.225,0.00,2019-05-01,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.900000
363,FFL5E1904005,4,3,0.225,5.183333,43.650002,NaN,0.225,0.00,2019-05-01,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.900000
367,FFL5E1904005,5,3,0.225,5.733333,42.770000,NaN,0.225,0.00,2019-05-01,...,269.600000,0.07,27.6,0.130,12.32,0.05,0.0,0.19,0.0,76.900000
369,FLY3J1901001,1,1,0.000,0.000000,17.480000,NaN,NaN,0.00,2019-01-02,...,0.000000,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.000000
370,FLY3J1901001,1,2,0.000,1.416667,22.139999,NaN,NaN,0.00,2019-01-02,...,363.600000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
372,FLY3J1901001,2,1,0.000,0.000000,17.600000,NaN,NaN,0.00,2019-01-02,...,0.000000,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.000000
373,FLY3J1901001,2,2,0.000,1.416667,21.450001,NaN,NaN,0.00,2019-01-02,...,363.600000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
375,FLY3J1901001,3,1,0.000,0.000000,17.600000,NaN,NaN,0.00,2019-01-02,...,0.000000,0.00,0.0,0.000,0.00,0.00,0.0,0.00,0.0,0.000000
376,FLY3J1901001,3,2,0.000,1.500000,21.879999,NaN,NaN,0.00,2019-01-02,...,363.600000,0.07,27.6,0.130,12.32,0.55,0.0,0.19,0.0,0.000000
380,FLY5D1812002,1,2,0.000,5.650000,38.450001,NaN,0.000,0.00,2018-12-12,...,468.270000,0.00,0.0,0.449,0.00,0.00,0.0,0.00,0.0,0.000000
388,FLY5D1812002,3,2,0.000,5.666667,38.770000,NaN,0.000,0.00,2018-12-12,...,468.270000,0.00,0.0,0.449,0.00,0.00,0.0,0.00,0.0,0.000000
392,FLY5D1812002,4,2,0.000,5.670000,39.080002,NaN,NaN,0.00,2018-12-12,...,468.270000,0.00,0.0,0.449,0.00,0.00,0.0,0.00,0.0,0.000000
396,FLY5D1812002,5,2,0.000,5.680000,37.529999,NaN,NaN,0.00,2018-12-12,...,468.270000,0.00,0.0,0.449,0.00,0.00,0.0,0.00,0.0,0.000000
398,FLY5D1812002,5,4,0.800,15.920000,89.110001,NaN,NaN,0.24,2018-12-12,...,49.746193,0.00,0.0,0.370,0.00,0.00,0.0,0.00,0.0,0.000000
488,FLY5E1810003,1,3,0.375,8.900000,66.400002,NaN,NaN,0.00,2018-10-17,...,337.651000,0.00,0.0,0.449,0.00,0.00,0.0,0.00,0.0,0.000000

In [92]:
all_merged[(all_merged.isnull()['AN_x']) & (all_merged.isnull()['AN_y'])]
all_merged['AN_x'].fillna(all_merged['AN_y'], inplace= True)
all_merged[(all_merged.isnull()['AN_x'])]

,AUFNR,TANK_NO,SAMP_NM,ACC_SUGAR,AGE_x,OD_x,AN_x,FEED_TOT,MBO_VOL_x,DATE_x,...,Sucrose,CuSO4,FeSO4,MgSO4,MnSO4,ZnSO4,Betaine,H3PO4,SOD,Glucose
159,FFL3J1904002,1,3,2.260,5.416667,41.200001,NaN,NaN,0.0,2019-04-10,...,285.1,0.07,27.6,0.13,12.32,0.55,0.0,0.19,0.0,0.0
163,FFL3J1904002,2,3,2.260,5.500000,40.299999,NaN,NaN,0.0,2019-04-10,...,285.1,0.07,27.6,0.13,12.32,0.55,0.0,0.19,0.0,0.0
167,FFL3J1904002,3,3,2.260,5.583333,41.000000,NaN,NaN,0.0,2019-04-10,...,285.1,0.07,27.6,0.13,12.32,0.55,0.0,0.19,0.0,0.0
171,FFL3J1904002,4,3,2.260,5.750000,40.700001,NaN,NaN,0.0,2019-04-10,...,285.1,0.07,27.6,0.13,12.32,0.55,0.0,0.19,0.0,0.0
175,FFL3J1904002,5,3,2.260,5.716667,40.900002,NaN,NaN,0.0,2019-04-10,...,285.1,0.07,27.6,0.13,12.32,0.55,0.0,0.19,0.0,0.0
199,FFL3J1904004,2,3,2.260,5.500000,45.000000,NaN,NaN,0.0,2019-04-24,...,285.1,0.07,27.6,0.13,12.32,0.55,0.0,0.19,0.0,0.0
203,FFL3J1904004,3,3,2.260,5.416667,45.299999,NaN,2.260,0.0,2019-04-24,...,285.1,0.07,27.6,0.13,12.32,0.55,0.0,0.19,0.0,0.0
207,FFL3J1904004,4,3,2.260,5.250000,45.299999,NaN,2.260,0.0,2019-04-24,...,285.1,0.07,27.6,0.13,12.32,0.55,0.0,0.19,0.0,0.0
351,FFL5E1904005,1,3,0.225,5.433333,43.040001,NaN,0.225,0.0,2019-05-01,...,269.6,0.07,27.6,0.13,12.32,0.05,0.0,0.19,0.0,76.9
355,FFL5E1904005,2,3,0.225,5.366667,43.110001,NaN,0.225,0.0,2019-05-01,...,269.6,0.07,27.6,0.13,12.32,0.05,0.0,0.19,0.0,76.9
359,FFL5E1904005,3,3,0.225,5.233333,44.509998,NaN,0.225,0.0,2019-05-01,...,269.6,0.07,27.6,0.13,12.32,0.05,0.0,0.19,0.0,76.9
363,FFL5E1904005,4,3,0.225,5.183333,43.650002,NaN,0.225,0.0,2019-05-01,...,269.6,0.07,27.6,0.13,12.32,0.05,0.0,0.19,0.0,76.9
367,FFL5E1904005,5,3,0.225,5.733333,42.770000,NaN,0.225,0.0,2019-05-01,...,269.6,0.07,27.6,0.13,12.32,0.05,0.0,0.19,0.0,76.9

In [93]:
all_merged.drop(['AN_y','MBO_VOL_y'], axis=1, inplace= True)

In [94]:
all_merged.rename(columns={"AGE_x":"AGE", "OD_x":"OD", "AN_x":"AN", "MBO_VOL_x":"MBO_VOL", "DATE_x":"DATE","JAR_VOL_x":"JAR_VOL","EQUIP_CD_x":"EQUIP_CD"}, inplace = True)
all_merged[['AUFNR','TANK_NO','SAMP_NM','ACC_SUGAR','AGE','OD','AN','FEED_TOT','MBO_VOL']]

,AUFNR,TANK_NO,SAMP_NM,ACC_SUGAR,AGE,OD,AN,FEED_TOT,MBO_VOL
0,FFL3J1901004,1,1,0.000,0.000000,15.940000,1.720,0.000,0.00
1,FFL3J1901004,1,2,0.000,1.566667,24.580000,1.160,0.000,0.00
2,FFL3J1901004,1,3,2.600,5.666667,49.099998,1.170,2.600,0.00
3,FFL3J1901004,1,4,6.000,8.833333,57.939999,0.491,6.300,NaN
4,FFL3J1901004,2,1,0.000,0.000000,16.110001,1.640,0.000,0.00
5,FFL3J1901004,2,2,0.000,1.566667,24.780001,1.130,0.000,0.00
6,FFL3J1901004,2,3,2.400,5.633333,47.500000,0.433,2.600,0.00
7,FFL3J1901004,2,4,6.000,8.650000,59.639999,0.647,6.200,2.60
8,FFL3J1901004,3,1,0.000,0.000000,16.209999,1.680,0.000,0.00
9,FFL3J1901004,3,2,0.000,1.600000,24.410000,1.090,0.000,0.00
10,FFL3J1901004,3,3,2.400,5.716667,47.299999,0.564,2.400,0.00
11,FFL3J1901004,3,4,6.000,9.366667,59.599998,0.984,6.000,2.60
12,FFL3J1901004,4,1,0.000,0.000000,15.820000,1.620,0.000,0.00
13,FFL3J1901004,4,2,0.000,1.700000,24.629999,1.100,0.000,0.00
14,FFL3J1901004,4,3,2.600,6.333333,46.099998,0.929,2.600,0.00
15,FFL3J1901004,4,4,6.000,9.266666,62.600000,0.630,6.300,2.60
16,FFL3J1901005,1,1,0.000,0.000000,16.299999,1.820,0.000,0.00
17,FFL3J1901005,1,2,0.000,1.333333,22.400000,1.290,0.000,0.00
18,FFL3J1901005,1,3,2.400,5.166667,45.919998,0.895,2.400,0.00
19,FFL3J1901005,2,1,0.000,0.000000,15.900000,1.770,0.000,0.00
20,FFL3J1901005,2,2,0.000,1.380000,23.400000,1.260,NaN,0.00
21,FFL3J1901005,2,3,2.400,5.300000,46.529999,0.784,2.400,0.00
22,FFL3J1901005,2,4,6.000,8.716666,58.900002,0.602,6.000,2.60
23,FFL3J1901005,3,1,0.000,0.000000,16.299999,1.840,0.000,0.00
24,FFL3J1901005,3,2,0.000,1.433333,22.900000,1.200,0.000,0.00
25,FFL3J1901005,3,3,2.400,5.300000,45.849998,0.864,2.400,0.00
26,FFL3J1901005,3,4,6.000,8.700000,58.200001,1.050,6.300,2.60
27,FFL3J1901005,4,1,0.000,0.000000,15.600000,2.020,0.000,0.00
28,FFL3J1901005,4,2,0.000,1.516667,22.200001,1.100,0.000,0.00
29,FFL3J1901005,4,3,2.400,5.300000,44.480000,0.908,2.400,0.00
...,...,...,...,...,...,...,...,...,...
556,FLY5E1811002,3,3,0.376,11.083333,57.900002,1.250,0.376,0.00
557,FLY5E1811002,3,4,0.800,14.883333,75.540001,4.990,0.800,0.24
558,FLY5E1811002,4,1,0.000,0.000000,11.160000,3.800,NaN,0.00
559,FLY5E1811002,4,2,0.000,7.080000,42.480000,1.520,NaN,0.00
560,FLY5E1811002,4,3,0.376,11.050000,65.900002,1.400,0.376,0.00
561,FLY5E1811002,4,4,0.800,14.450000,74.900002,5.010,0.800,0.24
562,FLY5E1811002,5,1,0.000,0.000000,11.280000,3.990,NaN,0.00
563,FLY5E1811002,5,2,0.000,7.083333,41.599998,1.310,0.040,0.00
564,FLY5E1811002,5,3,0.376,11.080000,59.099998,1.390,0.376,0.00
565,FLY5E1811002,5,4,0.800,14.450000,73.400002,4.990,0.800,0.24
566,FLY5E1811003,1,1,0.000,0.000000,9.100000,4.000,0.000,0.00
567,FLY5E1811003,1,2,0.000,5.250000,42.599998,1.420,0.000,0.00
568,FLY5E1811003,1,3,0.000,9.333333,67.209999,0.729,0.000,0.00
569,FLY5E1811003,1,4,0.000,14.333333,68.650002,1.620,0.000,NaN
570,FLY5E1811003,2,1,0.000,0.000000,11.500000,3.900,NaN,0.00
571,FLY5E1811003,2,2,0.000,5.283333,47.360001,0.602,NaN,0.00
572,FLY5E1811003,2,3,0.375,9.333333,71.699997,1.690,NaN,0.00
573,FLY5E1811003,2,4,0.800,12.670000,79.809998,1.580,NaN,NaN
574,FLY5E1811003,3,1,0.000,0.000000,11.500000,3.600,NaN,0.00
575,FLY5E1811003,3,2,0.000,5.433333,51.669998,0.200,0.040,0.00
576,FLY5E1811003,3,3,0.000,9.433333,58.080002,1.340,0.040,0.00
577,FLY5E1811003,3,4,0.000,15.883333,67.610001,4.520,0.040,NaN
578,FLY5E1811003,4,1,0.000,0.000000,10.400000,4.300,NaN,0.00
579,FLY5E1811003,4,2,0.000,5.283333,43.900002,1.250,0.000,0.00
580,FLY5E1811003,4,3,0.375,9.333333,72.800003,2.310,0.415,0.24
581,FLY5E1811003,4,4,0.800,12.750000,74.650002,2.120,0.840,0.24
582,FLY5E1811003,5,1,0.000,0.000000,9.200000,6.500,NaN,0.00
583,FLY5E1811003,5,2,0.000,5.333333,40.380001,1.120,0.040,0.00
584,FLY5E1811003,5,3,0.375,9.333333,66.279999,1.720,0.455,0.00
585,FLY5E1811003,5,4,0.800,12.666667,71.190002,2.060,0.880,0.24

In [95]:
media_mapping = {'START' :1, '1F':2, '2F':3, '1M' : 4, '2M' :5 ,'3M':6, '4M':7, '5M':8, '6M':9, '7M':10, '8M':11, '9M':12, 'FBO':13}
for data in [result_data]:
    data['SAMP_NM'] = data['SAMP_NM'].map(media_mapping)

In [96]:
all_merged.drop('LYS', axis =1, inplace= True)

In [97]:
all_merged.drop('FEED_TOT', axis =1, inplace= True)

같은 공정 데이터 하나의 열로 통합

In [98]:
start = all_merged[all_merged['SAMP_NM'] == 1]
one_f= all_merged[all_merged['SAMP_NM'] == 2]
two_f= all_merged[all_merged['SAMP_NM'] == 3]
one_m= all_merged[all_merged['SAMP_NM'] == 4]

In [99]:
start.drop( ['AGE','ACC_SUGAR','MBO_VOL','DATE','EQUIP_CD','HSM','CSL','[(NH4)2SO4]','KH2PO4','[d-Biotin]','[Thiamine-HCL]','[Ca-Pantothenic]','Niacinamide','Defoamer','BM','CM','Sucrose','CuSO4','FeSO4','MgSO4','MnSO4','ZnSO4','Betaine','H3PO4','SOD','Glucose'], axis=1, inplace=True)
start.head()

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

           AUFNR  TANK_NO  SAMP_NM         OD    AN  JAR_VOL
0   FFL3J1901004        1        1  15.940000  1.72        3
4   FFL3J1901004        2        1  16.110001  1.64        3
8   FFL3J1901004        3        1  16.209999  1.68        3
12  FFL3J1901004        4        1  15.820000  1.62        3
16  FFL3J1901005        1        1  16.299999  1.82        3

In [100]:
one_f.drop(['DATE','ACC_SUGAR','MBO_VOL', 'EQUIP_CD','JAR_VOL','HSM','CSL','[d-Biotin]','[Thiamine-HCL]','[Ca-Pantothenic]','Niacinamide','Defoamer','CuSO4','FeSO4','MgSO4','MnSO4','ZnSO4','H3PO4','SOD','Glucose'], axis=1,inplace=True)
two_f.drop(['DATE','MBO_VOL','EQUIP_CD','JAR_VOL','HSM','CSL','[d-Biotin]','[Thiamine-HCL]','[Ca-Pantothenic]','Niacinamide','Defoamer','CuSO4','FeSO4','MgSO4','MnSO4','ZnSO4','H3PO4'], axis=1,inplace=True)
one_m.drop(['DATE','SOD', 'EQUIP_CD','JAR_VOL','HSM','CSL','[d-Biotin]','[Thiamine-HCL]','[Ca-Pantothenic]','Niacinamide','Defoamer','CuSO4','FeSO4','MgSO4','MnSO4','ZnSO4','H3PO4','SOD','Glucose'], axis=1,inplace=True)

In [101]:
start_1f = pd.merge(start,one_f, on=['AUFNR', 'TANK_NO'], how='left')
start_1f.rename(columns={"SAMP_NM_x":"SAMP_NM_START","OD_x":"OD_START","AN_x":"AN_START","SAMP_NM_y":"SAMP_NM_1F","OD_y":"OD_1F","AN_y":"AN_1F"}, inplace = True)
start_1f_2f = pd.merge(start_1f,two_f, on=['AUFNR', 'TANK_NO'],how='left')
start_1f_2f.rename(columns={"AGE_x":"AGE_1F",'[(NH4)2SO4]_x':'(NH4)2SO4_1F',"KH2PO4_x":"KH2PO4_1F","BM_x":"BM_1F","CM_x":"CM_1F","Sucrose_x":"Sucrose_1F","Betaine_x":"Betaine_1F","AGE_y":"AGE_2F",'[(NH4)2SO4]_y':'(NH4)2SO4_2F',"KH2PO4_y":"KH2PO4_2F","BM_y":"BM_2F","CM_y":"CM_2F","Sucrose_y":"Sucrose_2F","Betaine_y":"Betaine_2F","OD":"OD_2F","AN":"AN_2F"}, inplace = True)
start_1f_2f_1m = pd.merge(start_1f_2f,one_m, on=['AUFNR', 'TANK_NO'],how='left')
start_1f_2f_1m.rename(columns={"AGE":"AGE_1M",'[(NH4)2SO4]':'(NH4)2SO4_1M',"KH2PO4":"KH2PO4_1M","BM":"BM_1M","CM":"CM_1M","Sucrose":"Sucrose_1M","Betaine":"Betaine_1M","SAMP_NM_x":"SAMP_NM_2F","ACC_SUGAR_x":"ACC_SUGAR_2F","SAMP_NM_y":"SAMP_NM_1M","ACC_SUGAR_y":"ACC_SUGAR_1M","OD":"OD_1M","AN":"AN_1M"}, inplace = True)

start_1f_2f_1m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 148
Data columns (total 41 columns):
AUFNR            149 non-null object
TANK_NO          149 non-null int64
SAMP_NM_START    149 non-null int64
OD_START         149 non-null float64
AN_START         149 non-null float64
JAR_VOL          149 non-null int64
SAMP_NM_1F       149 non-null int64
AGE_1F           149 non-null float64
OD_1F            149 non-null float64
AN_1F            149 non-null float64
(NH4)2SO4_1F     149 non-null float64
KH2PO4_1F        149 non-null float64
BM_1F            149 non-null float64
CM_1F            149 non-null float64
Sucrose_1F       149 non-null float64
Betaine_1F       149 non-null float64
SAMP_NM_2F       149 non-null int64
ACC_SUGAR_2F     149 non-null float64
AGE_2F           149 non-null float64
OD_2F            149 non-null float64
AN_2F            136 non-null float64
(NH4)2SO4_2F     149 non-null float64
KH2PO4_2F        149 non-null float64
BM_2F            149 non-null float64
CM_2F            149 non-null float64
Sucrose_2F       149 non-null float64
Betaine_2F       149 non-null float64
SOD              149 non-null float64
Glucose          149 non-null float64
SAMP_NM_1M       139 non-null float64
ACC_SUGAR_1M     139 non-null float64
AGE_1M           139 non-null float64
OD_1M            139 non-null float64
AN_1M            139 non-null float64
MBO_VOL          134 non-null float64
(NH4)2SO4_1M     139 non-null float64
KH2PO4_1M        139 non-null float64
BM_1M            139 non-null float64
CM_1M            139 non-null float64
Sucrose_1M       139 non-null float64
Betaine_1M       139 non-null float64
dtypes: float64(35), int64(5), object(1)
memory usage: 48.9+ KB

In [102]:
result_revised = result_data[ (result_data["SAMP_NM"] ==2)]
result_revised.drop(["AGE","SAMP_NM","DATE","JAR_VOL","EQUIP_CD","OD","AN","LYS","SUGAR_FEED","MBO_VOL","AMS"],axis=1,inplace= True)

result_added1 = pd.merge(start_1f_2f_1m, result_revised, on=['AUFNR', 'TANK_NO'])

result_revised = result_data[ (result_data["SAMP_NM"] ==3)]
result_revised.drop(["AGE","SAMP_NM","DATE","JAR_VOL","EQUIP_CD","OD","AN","LYS","SUGAR_FEED","MBO_VOL","AMS"],axis=1,inplace= True)


result_added2 = pd.merge(result_added1, result_revised, on=['AUFNR', 'TANK_NO'])

result_revised = result_data[ (result_data["SAMP_NM"] ==3)]
result_revised.drop(["AGE","SAMP_NM","DATE","JAR_VOL","EQUIP_CD","OD","AN","LYS","SUGAR_FEED","MBO_VOL","AMS"],axis=1,inplace= True)


result_added3 = pd.merge(result_added2, result_revised, on=['AUFNR', 'TANK_NO'])
result_revised = result_data[ (result_data["SAMP_NM"] ==13)]
result_revised.drop(["AMS","SAMP_NM","DATE","JAR_VOL","EQUIP_CD","OD","AN","LYS","SUGAR_FEED","MBO_VOL"],axis=1,inplace= True)

df = pd.merge(result_added3, result_revised, on=['AUFNR', 'TANK_NO'])
df.rename(columns={"AGE":"FBO_AGE"}, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 148
Data columns (total 42 columns):
AUFNR            149 non-null object
TANK_NO          149 non-null int64
SAMP_NM_START    149 non-null int64
OD_START         149 non-null float64
AN_START         149 non-null float64
JAR_VOL          149 non-null int64
SAMP_NM_1F       149 non-null int64
AGE_1F           149 non-null float64
OD_1F            149 non-null float64
AN_1F            149 non-null float64
(NH4)2SO4_1F     149 non-null float64
KH2PO4_1F        149 non-null float64
BM_1F            149 non-null float64
CM_1F            149 non-null float64
Sucrose_1F       149 non-null float64
Betaine_1F       149 non-null float64
SAMP_NM_2F       149 non-null int64
ACC_SUGAR_2F     149 non-null float64
AGE_2F           149 non-null float64
OD_2F            149 non-null float64
AN_2F            136 non-null float64
(NH4)2SO4_2F     149 non-null float64
KH2PO4_2F        149 non-null float64
BM_2F            149 non-null float64
CM_2F            149 non-null float64
Sucrose_2F       149 non-null float64
Betaine_2F       149 non-null float64
SOD              149 non-null float64
Glucose          149 non-null float64
SAMP_NM_1M       139 non-null float64
ACC_SUGAR_1M     139 non-null float64
AGE_1M           139 non-null float64
OD_1M            139 non-null float64
AN_1M            139 non-null float64
MBO_VOL          134 non-null float64
(NH4)2SO4_1M     139 non-null float64
KH2PO4_1M        139 non-null float64
BM_1M            139 non-null float64
CM_1M            139 non-null float64
Sucrose_1M       139 non-null float64
Betaine_1M       139 non-null float64
FBO_AGE          149 non-null float64
dtypes: float64(36), int64(5), object(1)
memory usage: 50.1+ KB

In [103]:
media_data[(media_data['AUFNR'] == 'FFL3J1901005') & (media_data['TANK_NO'] == 1)]

,AUFNR,DATE,JAR_VOL,EQUIP_CD,TANK_NO,SAMP_NM,HSM,CSL,[(NH4)2SO4],KH2PO4,...,Sucrose,CuSO4,FeSO4,MgSO4,MnSO4,ZnSO4,Betaine,H3PO4,SOD,Glucose
180,FFL3J1901005,2019-01-30,3,J,1,4,8.90,0.0,4.05,0.0,...,10.71,0.00,0.0,0.23,0.00,0.00,0.0,0.29,0.0,0.0
181,FFL3J1901005,2019-01-30,3,J,1,2,3.36,0.0,41.23,0.0,...,363.60,0.07,27.6,0.13,12.32,0.55,0.0,0.19,0.0,0.0
182,FFL3J1901005,2019-01-30,3,J,1,3,3.36,0.0,80.00,0.0,...,285.10,0.07,27.6,0.13,12.32,0.55,0.0,0.19,0.0,81.3

결측치 다른 데이터 셋에서 가져오기

In [104]:
for index, data in df.iterrows():
    if data.isnull()['SAMP_NM_1M']:
        aufnr = data["AUFNR"]
        tank = data["TANK_NO"]
        
        age = result_data[(result_data["AUFNR"] == aufnr) & (result_data["TANK_NO"] == tank) & (result_data["SAMP_NM"] == 4)]["AGE"]
        od = result_data[(result_data["AUFNR"] == aufnr) & (result_data["TANK_NO"] == tank) & (result_data["SAMP_NM"] == 4)]["OD"]
        an = result_data[(result_data["AUFNR"] == aufnr) & (result_data["TANK_NO"] == tank) & (result_data["SAMP_NM"] == 4)]["AN"]
        
        prev_sug=df[(df["AUFNR"] == aufnr) & (df["TANK_NO"] == tank)]["ACC_SUGAR_2F"]
        sug = result_data[(result_data["AUFNR"] == aufnr) & (result_data["TANK_NO"] == tank) & (result_data["SAMP_NM"] == 4)]["SUGAR_FEED"]
        
        so4 = media_data[(media_data["AUFNR"] == aufnr) & (media_data["TANK_NO"] == tank) & (media_data["SAMP_NM"] == 4)]["[(NH4)2SO4]"]
        po4 = media_data[(media_data["AUFNR"] == aufnr) & (media_data["TANK_NO"] == tank) & (media_data["SAMP_NM"] == 4)]["KH2PO4"]
        bm = media_data[(media_data["AUFNR"] == aufnr) & (media_data["TANK_NO"] == tank) & (media_data["SAMP_NM"] == 4)]["BM"]
        cm = media_data[(media_data["AUFNR"] == aufnr) & (media_data["TANK_NO"] == tank) & (media_data["SAMP_NM"] == 4)]["CM"]
        sucrose = media_data[(media_data["AUFNR"] == aufnr) & (media_data["TANK_NO"] == tank) & (media_data["SAMP_NM"] == 4)]["Sucrose"]
        betaine = media_data[(media_data["AUFNR"] == aufnr) & (media_data["TANK_NO"] == tank) & (media_data["SAMP_NM"] == 4)]["Betaine"]
        
        df.at[index, 'AGE_1M'] = age
        df.at[index, 'OD_1M'] = od
        df.at[index, 'AN_1M'] = an
        
        df.at[index, '(NH4)2SO4_1M'] = so4
        df.at[index, 'KH2PO4_1M'] = po4
        df.at[index, 'BM_1M'] = bm
        df.at[index, 'CM_1M'] = cm
        df.at[index, 'Sucrose_1M'] = sucrose
        df.at[index, 'Betaine_1M'] = betaine
        
        df.at[index,'ACC_SUGAR_1M'] = float(prev_sug)+float(sug)
              
df[df.isna()['SAMP_NM_1M']]

,AUFNR,TANK_NO,SAMP_NM_START,OD_START,AN_START,JAR_VOL,SAMP_NM_1F,AGE_1F,OD_1F,AN_1F,...,OD_1M,AN_1M,MBO_VOL,(NH4)2SO4_1M,KH2PO4_1M,BM_1M,CM_1M,Sucrose_1M,Betaine_1M,FBO_AGE
4,FFL3J1901005,1,1,16.299999,1.82,3,2,1.333333,22.400000,1.29,...,58.10,1.200,NaN,4.05,0.0,10.470000,0.0,10.710000,0.0,23.62
7,FFL3J1901005,4,1,15.600000,2.02,3,2,1.516667,22.200001,1.10,...,55.98,1.260,NaN,4.05,0.0,10.470000,0.0,10.710000,0.0,26.23
10,FFL3J1902001,3,1,21.230000,1.87,3,2,1.333333,27.299999,0.00,...,71.14,0.602,NaN,4.35,0.0,9.574468,0.0,10.714286,0.0,26.27
93,FLY3J1901001,1,1,17.480000,0.00,3,2,1.416667,22.139999,0.00,...,54.49,2.600,NaN,4.05,0.0,10.470000,0.0,10.710000,0.0,23.85
94,FLY3J1901001,2,1,17.600000,0.00,3,2,1.416667,21.450001,0.00,...,53.15,1.030,NaN,4.05,0.0,10.470000,0.0,10.710000,0.0,25.25
119,FLY5E1810002,1,1,10.990000,4.08,5,2,4.916667,40.110001,1.25,...,62.03,2.140,NaN,16.00,0.2,8.700000,10.3,49.746193,0.0,37.63
120,FLY5E1810002,2,1,11.530000,4.02,5,2,4.966667,40.160000,1.30,...,69.09,0.310,NaN,16.00,0.2,8.700000,10.3,49.746193,0.0,42.83
121,FLY5E1810002,3,1,11.740000,3.95,5,2,5.000000,39.740002,1.15,...,68.14,0.347,NaN,16.00,0.2,8.700000,10.3,49.746193,0.0,34.35
122,FLY5E1810002,4,1,11.400000,4.01,5,2,5.000000,39.970001,1.34,...,69.85,0.250,NaN,16.00,0.2,8.700000,10.3,49.746193,0.0,42.83
123,FLY5E1810002,5,1,11.280000,3.76,5,2,4.600000,37.619999,1.28,...,70.92,0.347,NaN,16.00,0.2,8.700000,10.3,49.746193,0.0,42.83

In [105]:
df['SAMP_NM_1M'].fillna(4,inplace=True)
df[df.isna()['SAMP_NM_1M']]

Empty DataFrame
Columns: [AUFNR, TANK_NO, SAMP_NM_START, OD_START, AN_START, JAR_VOL, SAMP_NM_1F, AGE_1F, OD_1F, AN_1F, (NH4)2SO4_1F, KH2PO4_1F, BM_1F, CM_1F, Sucrose_1F, Betaine_1F, SAMP_NM_2F, ACC_SUGAR_2F, AGE_2F, OD_2F, AN_2F, (NH4)2SO4_2F, KH2PO4_2F, BM_2F, CM_2F, Sucrose_2F, Betaine_2F, SOD, Glucose, SAMP_NM_1M, ACC_SUGAR_1M, AGE_1M, OD_1M, AN_1M, MBO_VOL, (NH4)2SO4_1M, KH2PO4_1M, BM_1M, CM_1M, Sucrose_1M, Betaine_1M, FBO_AGE]
Index: []

[0 rows x 42 columns]

In [106]:
df[(df['AUFNR'] == 'FFL3J1901005')][['AUFNR', 'TANK_NO','MBO_VOL']]

          AUFNR  TANK_NO  MBO_VOL
4  FFL3J1901005        1      NaN
5  FFL3J1901005        2      2.6
6  FFL3J1901005        3      2.6
7  FFL3J1901005        4      NaN

MBO_VOL KNN으로 결측치 채우기

In [107]:

x= df
y= df[['MBO_VOL']]

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
X = x.apply(lambda x: encoder.fit_transform(x))
y = y.apply(lambda y: encoder.fit_transform(y))


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10)



from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=3).fit(X_train, y_train)

print(knn.score(X_test, y_test))

0.8947368421052632

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [108]:

class_cd = pd.Series(encoder.classes_).to_dict()
data_to_be_predicted = df[df.isnull()['MBO_VOL']]
data_to_be_predicted.apply(lambda x: encoder.fit_transform(x))

knn.predict(data_to_be_predicted.apply(lambda x: encoder.fit_transform(x)))
fill_na_values = knn.predict(data_to_be_predicted.apply(lambda x: encoder.fit_transform(x)))
data_to_be_predicted['MBO_VOL'] = fill_na_values
data_to_be_predicted['MBO_VOL']= data_to_be_predicted['MBO_VOL'].replace(class_cd)

df.fillna(data_to_be_predicted, inplace=True)
df.head(10)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,AUFNR,TANK_NO,SAMP_NM_START,OD_START,AN_START,JAR_VOL,SAMP_NM_1F,AGE_1F,OD_1F,AN_1F,...,OD_1M,AN_1M,MBO_VOL,(NH4)2SO4_1M,KH2PO4_1M,BM_1M,CM_1M,Sucrose_1M,Betaine_1M,FBO_AGE
0,FFL3J1901004,1,1,15.940000,1.72,3,2,1.566667,24.580000,1.16,...,57.939999,0.491,3.0,4.05,0.0,10.470000,0.0,10.710000,0.0,22.42
1,FFL3J1901004,2,1,16.110001,1.64,3,2,1.566667,24.780001,1.13,...,59.639999,0.647,2.6,4.05,0.0,10.470000,0.0,10.710000,0.0,21.77
2,FFL3J1901004,3,1,16.209999,1.68,3,2,1.600000,24.410000,1.09,...,59.599998,0.984,2.6,4.05,0.0,10.470000,0.0,10.710000,0.0,32.25
3,FFL3J1901004,4,1,15.820000,1.62,3,2,1.700000,24.629999,1.10,...,62.600000,0.630,2.6,4.05,0.0,10.470000,0.0,10.710000,0.0,26.92
4,FFL3J1901005,1,1,16.299999,1.82,3,2,1.333333,22.400000,1.29,...,58.100000,1.200,3.0,4.05,0.0,10.470000,0.0,10.710000,0.0,23.62
5,FFL3J1901005,2,1,15.900000,1.77,3,2,1.380000,23.400000,1.26,...,58.900002,0.602,2.6,4.05,0.0,10.470000,0.0,10.710000,0.0,22.92
6,FFL3J1901005,3,1,16.299999,1.84,3,2,1.433333,22.900000,1.20,...,58.200001,1.050,2.6,4.05,0.0,10.470000,0.0,10.710000,0.0,21.83
7,FFL3J1901005,4,1,15.600000,2.02,3,2,1.516667,22.200001,1.10,...,55.980000,1.260,3.0,4.05,0.0,10.470000,0.0,10.710000,0.0,26.23
8,FFL3J1902001,1,1,19.820000,1.77,3,2,1.333333,26.400000,0.00,...,63.099998,1.250,2.9,4.35,0.0,9.574468,0.0,10.714286,0.0,21.65
9,FFL3J1902001,2,1,15.970000,0.00,3,2,1.433333,24.200001,0.00,...,63.279999,1.080,2.9,4.35,0.0,9.574468,0.0,10.714286,0.0,23.28

In [109]:
df[(df['AUFNR'] == 'FFL3J1901005')][['AUFNR', 'TANK_NO','MBO_VOL']]

          AUFNR  TANK_NO  MBO_VOL
4  FFL3J1901005        1      3.0
5  FFL3J1901005        2      2.6
6  FFL3J1901005        3      2.6
7  FFL3J1901005        4      3.0

AN_2F Random Forest로 결측치 채우기

In [110]:

x= df
y= df[['AN_2F']]

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
X = x.apply(lambda x: encoder.fit_transform(x))
y = y.apply(lambda y: encoder.fit_transform(y))


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10)


from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

forest_reg = RandomForestRegressor()
forest = forest_reg.fit(X_train, y_train)

print(forest.score(X_test, y_test))

0.996683848766032

C:\Users\User\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [111]:

class_cd = pd.Series(encoder.classes_).to_dict()
data_to_be_predicted = df[df.isnull()['AN_2F']]
data_to_be_predicted.apply(lambda x: encoder.fit_transform(x))

forest.predict(data_to_be_predicted.apply(lambda x: encoder.fit_transform(x)))
fill_na_values = knn.predict(data_to_be_predicted.apply(lambda x: encoder.fit_transform(x)))
data_to_be_predicted['AN_2F'] = fill_na_values
data_to_be_predicted['AN_2F']= data_to_be_predicted['AN_2F'].replace(class_cd)

df.fillna(data_to_be_predicted, inplace=True)
df.head()

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,AUFNR,TANK_NO,SAMP_NM_START,OD_START,AN_START,JAR_VOL,SAMP_NM_1F,AGE_1F,OD_1F,AN_1F,...,OD_1M,AN_1M,MBO_VOL,(NH4)2SO4_1M,KH2PO4_1M,BM_1M,CM_1M,Sucrose_1M,Betaine_1M,FBO_AGE
0,FFL3J1901004,1,1,15.940000,1.72,3,2,1.566667,24.580000,1.16,...,57.939999,0.491,3.0,4.05,0.0,10.47,0.0,10.71,0.0,22.42
1,FFL3J1901004,2,1,16.110001,1.64,3,2,1.566667,24.780001,1.13,...,59.639999,0.647,2.6,4.05,0.0,10.47,0.0,10.71,0.0,21.77
2,FFL3J1901004,3,1,16.209999,1.68,3,2,1.600000,24.410000,1.09,...,59.599998,0.984,2.6,4.05,0.0,10.47,0.0,10.71,0.0,32.25
3,FFL3J1901004,4,1,15.820000,1.62,3,2,1.700000,24.629999,1.10,...,62.600000,0.630,2.6,4.05,0.0,10.47,0.0,10.71,0.0,26.92
4,FFL3J1901005,1,1,16.299999,1.82,3,2,1.333333,22.400000,1.29,...,58.100000,1.200,3.0,4.05,0.0,10.47,0.0,10.71,0.0,23.62

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 148
Data columns (total 42 columns):
AUFNR            149 non-null object
TANK_NO          149 non-null int64
SAMP_NM_START    149 non-null int64
OD_START         149 non-null float64
AN_START         149 non-null float64
JAR_VOL          149 non-null int64
SAMP_NM_1F       149 non-null int64
AGE_1F           149 non-null float64
OD_1F            149 non-null float64
AN_1F            149 non-null float64
(NH4)2SO4_1F     149 non-null float64
KH2PO4_1F        149 non-null float64
BM_1F            149 non-null float64
CM_1F            149 non-null float64
Sucrose_1F       149 non-null float64
Betaine_1F       149 non-null float64
SAMP_NM_2F       149 non-null int64
ACC_SUGAR_2F     149 non-null float64
AGE_2F           149 non-null float64
OD_2F            149 non-null float64
AN_2F            149 non-null float64
(NH4)2SO4_2F     149 non-null float64
KH2PO4_2F        149 non-null float64
BM_2F            149 non-null float64
CM_2F            149 non-null float64
Sucrose_2F       149 non-null float64
Betaine_2F       149 non-null float64
SOD              149 non-null float64
Glucose          149 non-null float64
SAMP_NM_1M       149 non-null float64
ACC_SUGAR_1M     149 non-null float64
AGE_1M           149 non-null float64
OD_1M            149 non-null float64
AN_1M            149 non-null float64
MBO_VOL          149 non-null float64
(NH4)2SO4_1M     149 non-null float64
KH2PO4_1M        149 non-null float64
BM_1M            149 non-null float64
CM_1M            149 non-null float64
Sucrose_1M       149 non-null float64
Betaine_1M       149 non-null float64
FBO_AGE          149 non-null float64
dtypes: float64(36), int64(5), object(1)
memory usage: 55.1+ KB

In [113]:
df.drop(['JAR_VOL','AUFNR','TANK_NO','SAMP_NM_START','SAMP_NM_1F','SAMP_NM_2F','SAMP_NM_1M'],axis=1, inplace=True)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 148
Data columns (total 35 columns):
OD_START        149 non-null float64
AN_START        149 non-null float64
AGE_1F          149 non-null float64
OD_1F           149 non-null float64
AN_1F           149 non-null float64
(NH4)2SO4_1F    149 non-null float64
KH2PO4_1F       149 non-null float64
BM_1F           149 non-null float64
CM_1F           149 non-null float64
Sucrose_1F      149 non-null float64
Betaine_1F      149 non-null float64
ACC_SUGAR_2F    149 non-null float64
AGE_2F          149 non-null float64
OD_2F           149 non-null float64
AN_2F           149 non-null float64
(NH4)2SO4_2F    149 non-null float64
KH2PO4_2F       149 non-null float64
BM_2F           149 non-null float64
CM_2F           149 non-null float64
Sucrose_2F      149 non-null float64
Betaine_2F      149 non-null float64
SOD             149 non-null float64
Glucose         149 non-null float64
ACC_SUGAR_1M    149 non-null float64
AGE_1M          149 non-null float64
OD_1M           149 non-null float64
AN_1M           149 non-null float64
MBO_VOL         149 non-null float64
(NH4)2SO4_1M    149 non-null float64
KH2PO4_1M       149 non-null float64
BM_1M           149 non-null float64
CM_1M           149 non-null float64
Sucrose_1M      149 non-null float64
Betaine_1M      149 non-null float64
FBO_AGE         149 non-null float64
dtypes: float64(35)
memory usage: 46.9 KB

파일로 내보내기

In [115]:
df.to_csv('bio_data_temp.csv',header=True,index= False)

In [116]:
end_time = time.time()
print(start_time)
print(end_time)
print("time :", time.time() - start_time)

1565140479.6094174
1565140487.6718528
time : 8.062435388565063